<div class="breadcrumb">
	<ul class="breadcrumb_ul">
		<li class='nav_index'><a href="/home">首页</a></li> 
		<li class='nav_selfInfo'><a href="/search/searchMain">我的佳缘</a></li> 
		<li class='nav_search'><a href="/search/searchMain">搜素</a></li>
		<li class='nav_service'><a href="#">服务</a></li> 
		<li class='nav_mailbox'><a href="/msg/inbox">信箱</a></li> 
	</ul>
</div>