<div class="breadcrumb">
	<div class="container">
		<div class="row">
			<div class="span6">
				<ul class="nav nav-tabs">
					<li class="active"><a href="/search/searchMain">我的佳缘</a></li> 
					<li><a href="/search/searchMain">搜素</a></li>
					<li><a href="#">服务</a></li> 
					<li><a href="/msg/inbox">信箱</a></li> 
				</ul>
			</div>
		</div>
	</div>
</div>