<div class="cp_preview">
	<p class="cp_preview_img">
		<img src="/images/default/nohead.png" class='index_avatar' />
	<p>

	<div class="cp_preview_detail">
		<p class='falseName'>{{::falseName}}</p>
		<p  class='previewCp'><a href='#'>预览我的资料</a><a href='#' class='editCp'></a></p>
		<p class='proofs'>
			<span class='identityCard'></span>
			<span class='income'></span>
			<span class='housing'></span>
			<span class='drive'></span>
			<span class='gangao'></span>
		</p>
		<p class="cp_preview_charge">
			<span class="float-left quantity">豆币:</span>
			<a href='#' class="float-right charge">充值</a>
		</p>
	</div>
</div>