<div class="cp_preview">
	<p style='float:left' class="cp_preview_img">
		<a href="#" targer='_blank'>
			<img src="#" />
		</a>
	<p>
	<div style='float:right' class="cp_preview_detail">
	

	</div>
</div>