 <div class="modal-dialog onlineTalk" draggable-popup id="emailmodald">
    <div class="modal-content">
        <div class="modal-body" >
            <div class='sel-onlineTalk'>
                
	            <div class='onlineTalkInterface'>
		            <a href='#' id='closeTalk' class='closeTalk' ng-click='closeTalk()'></a>
		            <div class='msgMain' id='msgMain'></div>
		            <div><input type='text' name='sendMsg' id='onlinePrivateMyMsg' width='100%'/></div>
		            <input type='button' value='发送' class='onlinePrivateSend btn btn-primary' ng-click='getUserMsg($event);'/>
	            </div>

            </div>
      </div>
    </div>
  </div>



