<div id='selYearPanel'>
	<input type='text' ng-model='selectedYear' ng-focus='selYear()'>
</div>
<div id='selMonthPanel'>
	<input type='text' ng-model='selectedMonth' ng-focus='selMonth()'>
</div>
<div id='selDayPanel'>
	<input type='text' ng-model='selectedDay' ng-focus='selDay()'>
</div>


