<div class="indexMemberWrap">
	<div>
		<img src="/images/default/tools/landing_slide/landing_logo.png" />

	</div>

	<a href="/regist"><button type="button" class="btn btn-primary btn-lg">免费注册</button></a>
	<div class="indexMemberHolder"><a href="#" class="indexMember">我是会员，立即登录</a></div>


</div>













