<div class="row">

   <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
         <img src="/wp-content/uploads/2014/06/kittens.jpg" 
         alt="超级聚光灯">
      </a>
   </div>
   <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
         <img src="/wp-content/uploads/2014/06/kittens.jpg" 
         alt="超级聚光灯">
      </a>
   </div>
   <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
         <img src="/wp-content/uploads/2014/06/kittens.jpg" 
         alt="超级聚光灯">
      </a>
   </div>
   <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
         <img src="/wp-content/uploads/2014/06/kittens.jpg" 
         alt="超级聚光灯">
      </a>
   </div>
</div>