<script src="/javascript/register/register.js"></script>
<script src="/javascript/directive/pickAddress.js"></script>
<link rel='stylesheet' href='/stylesheets/register/register.css' />




<div ng-controller="register">
	<div class="subMain centered">

		<div>我是: <input type="radio" name="gender" /> <label>男</label>   <input type="radio" name="gender" /> <label>女</label>  </div>

		<div style="display:none;">
			<input type="radio" name="isLunar" onclick="changeType()" title="显示公历"/>公历
			<input type="radio" name="isLunar" onclick="changeType()" title="显示农历"/>农历<br />
		</div> 

		<div class='positionRelative'>
			<pickaddress></pickaddress>
		</div>
		





	</div>
</div>