<script src="/javascript/register/register.js"></script>
<script src="/javascript/directive/pickAddress.js"></script>
<script src="/javascript/directive/pickHeight.js"></script>
<script src="/javascript/directive/pickEducation.js"></script>
<script src="/javascript/directive/pickIncome.js"></script>
<script src="/javascript/directive/pickBirthday.js"></script>


<link rel='stylesheet' href='/stylesheets/register/register.css' />

<div ng-controller="register">
	<div class="subMain centered">

		<div>我是: <input type="radio" name="xb" value='男' ng-model='gender' /> <label>男</label>   <input type="radio" value='女' ng-model='gender' name="xb" /> <label>女</label></div>


		<div>
			生日:<pickbirthday></pickbirthday>
		</div>

		<div>
			<pickaddress></pickaddress>
		</div>

		<div>
			婚姻状况:<input type='radio' name='marriageStatu' value='未婚' ng-model='marriageStatus' /><label>未婚</label>
			<input type='radio' name='marriageStatu' value='离异' ng-model='marriageStatus' /><label>离异</label>
			<input type='radio' name='marriageStatu' value='丧偶' ng-model='marriageStatus' /><label>丧偶</label>
		</div>

		<div>
			<pickheight></pickheight>
		</div>

		<div>
			<pickeducation></pickeducation>
		</div>

		<div>
			<pickincome></pickincome>
		</div>

		<div>
			手机号:<input type='text' ng-model='mobile' />
		</div>

		<div>
			创建密码:<input type='password' ng-model='password' />
		</div>

		<div>
			再次输入密码:<input type='password' ng-model='checkPassword' />
		</div>


		<div>
			昵称:<input type='text' ng-model='falseName' />
		</div>

		<div>
			用户名:<input type='text' ng-model='username' />
		</div>





		<button ng-click='submitRegister()'>提交</button>






	</div>
</div>