<script src="/javascript/register/register.js"></script>
<script src="/javascript/directive/pickAddress.js"></script>
<script src="/javascript/directive/pickHeight.js"></script>
<script src="/javascript/directive/pickEducation.js"></script>
<script src="/javascript/directive/pickIncome.js"></script>
<script src="/javascript/directive/pickBirthday.js"></script>


<link rel='stylesheet' href='/stylesheets/register/register.css' />

<div ng-controller="register">
	<div class="subMain centered">

		<div>我是: <input type="radio" name="gender" /> <label>男</label>   <input type="radio" name="gender" /> <label>女</label></div>


		<div>
			生日:<pickbirthday></pickbirthday>
		</div>

		<div>
			<pickaddress></pickaddress>
		</div>

		<div>
			婚姻状况:<input type='radio' name='marriageStatus' value='未婚' /><label>未婚</label>
			<input type='radio' name='marriageStatus' value='离异' /><label>离异</label>
			<input type='radio' name='marriageStatus' value='丧偶' /><label>丧偶</label>
		</div>

		<div>
			<pickheight></pickheight>
		</div>

		<div>
			<pickeducation></pickeducation>
		</div>

		<div>
			<pickincome></pickincome>
		</div>

		<div>
			手机号:<input type='text' ng-model='mobile' />
		</div>

		<div>
			创建密码:<input type='password' ng-model='password' />
		</div>

		<div>
			昵称:<input type='text' ng-model='falseName' />
		</div>

		<button ng-click='submitRegister()'>提交</button>


		




	</div>
</div>