<script src="/javascript/register/register.js"></script>
<script src="/javascript/directive/pickAddress.js"></script>
<script src="/javascript/directive/pickHeight.js"></script>
<script src="/javascript/directive/pickEducation.js"></script>
<script src="/javascript/directive/pickIncome.js"></script>
<script src="/javascript/directive/pickBirthday.js"></script>


<link rel='stylesheet' href='/stylesheets/register/register.css' />

<div ng-controller="register">
	<div class="subMain centered registerMain">

		<div class='register_list gender'>
			<div class= 'left'>
				<span class='leftLabel'>我是:</span> 
			</div>
			<div class='right'>
				<span class='chooseMale' ><input type="radio" name="xb" value='男' ng-model='gender' class='chooseMale' /><label class='male'>男</label></span>
				<span class='chooseFemale'><input type="radio" value='女' ng-model='gender' name="xb"  /><label class='female'>女</label></span>
				<span class='error'></span>
			</div>
		</div>

		<div class='register_list birthdayWrap birthday'>
			<div class= 'left'>
				<span class='leftLabel'>生日:</span>
			</div>
			<div class='right'>
				<pickbirthday></pickbirthday>
				<span class='error'></span>
			</div>
		</div>

		<div class='register_list addressWrap address'>
			<div class= 'left'>
				<span class='leftLabel'>常住地:</span>
			</div>
			<div class='right'>
				<pickaddress></pickaddress>
				<span class='error'></span>
			</div>
		</div>

		<div class='register_list marriageStatus'>
			<div class= 'left'>
				<span class='leftLabel'>婚姻状况:</span>
			</div>
			<div class='right'>
				<span class='marriageStatus'><input type='radio' class='chooseMarriage' name='marriageStatu' value='未婚' ng-model='marriageStatus' /><label>未婚</label></span>
				<span class='marriageStatus'><input type='radio' class='chooseMarriage' name='marriageStatu' value='离异' ng-model='marriageStatus' /><label>离异</label></span>
				<span class='marriageStatus'><input type='radio' class='chooseMarriage' name='marriageStatu' value='丧偶' ng-model='marriageStatus' /><label>丧偶</label></span>
			<span class='error'></span>
			</div>
		</div>

		<div class='register_list heightWrap selectedHeight'>
			<div class= 'left'>
				<span class='leftLabel'>身高:<span>
			</div>
			<div class='right'>
				<pickheight></pickheight>
				<span class='error'></span>
			</div>
		</div>

		<div class='register_list educationWrap selectedEducation'>
			<div class= 'left'>
				<span class='leftLabel'>学历:</span>
			</div>
			<div class='right'>
				<pickeducation></pickeducation>
				<span class='error'></span>
			</div>
		</div>

		<div class='register_list incomeWrap selectedIncome'>
			<div class= 'left'>
				<span class='leftLabel'>月薪:</span>
			</div>
			<div class='right'>
				<pickincome></pickincome>
				<span class='error'></span>
			</div>
		</div>

		<div class='register_list mobile'>
			<div class= 'left'>
				<span class='leftLabel'>手机号:</span>
			</div>
			<div class='right'>
				<input type='text' ng-model='mobile' />
				<span class='error'></span>
			</div>
		</div>

		<div class='register_list password'>
			<div class= 'left'>
				<span class='leftLabel'>创建密码:</span>
			</div>
			<div class='right'>
				<input type='password' ng-model='password' />
				<span class='error'></span>
			</div>
		</div>

		<div class='register_list checkPassword'>
			<div class= 'left'>
				<span class='leftLabel'>再次输入密码:</span>
			</div>
			<div class='right'>
				<input type='password' ng-model='checkPassword' />
				<span class='error'></span>
			</div>
		</div>

		<div class='register_list falseName'>
			<div class= 'left'>
				<span class='leftLabel'>昵称:</span>
			</div>
			<div class='right'>
				<input type='text' ng-model='falseName' />
				<span class='error'></span>
			</div>
		</div>

		<div class='register_list username'>
			<div class= 'left'>
				<span class='leftLabel'>用户名:</span>
			</div>
			<div class='right'>
				<input type='text' ng-model='username' />
				<span class='error'></span>
			</div>
		</div>

		<button class='register btn btn-primary btn-lg'ng-click='submitRegister()'>免费注册</button>

	</div>
</div>