.header{
	overflow:hidden;
}
.landingScroll{
	width:60%;


}
.login{
	width:39%;

}

.indexMemberWrap{
	text-align:center;
	background-color:#f9f9f9;
}
.indexMember{
	text-decoration:underline;
	font-size:14px;
}
.indexMemberHolder{
	margin-top:15px;
}
