<!doctype html>
<html>
<head>
<title>Angular 2 - Simple Reddit</title>
<script src="/javascript/es6-shim/es6-shim.js"></script>
<script src="/javascript/zone.js/dist/zone.js"></script>
<script src="/javascript/reflect-metadata/Reflect.js"></script>
<script src="/javascript/systemjs/dist/system.src.js"></script>



<link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<script src="/javascript/systemjs.config.js"></script>
<script>
System.import('/javascript/ap.js').then(null, console.error.bind(console));
</script>


1122

 <hello-world></hello-world>
</body>
</html>