<div class="editStep5">
  <form action="edit5.ejs" method="post" id="editStep5">


  <div>
    <p>说说您的日常生活，喜欢干些什么，与对方分享</p>
    <p>比如喜欢哪部电影，爱吃什么，去过哪些地方旅游等等</p>
    <textarea name="edit5a" id="edit5a"  rows="10" cols="40"></textarea>
    <div>限20-500字，目前已输入<span id="edit5cCounter1">0</span>字，您还可以输入<span id="edit5cCounter2">500</span>字</div>
  </div>





	<input type="submit" value="保存并继续" /><br />
	<input type="hidden" name="checkSubmit" />
  </form>
</div>