<style type="text/css">
  .birthplaceInfo{
   position:relative;
  }
  .provinceInfo{
   width:325px;
   height:270px;
   display:none;
   border:solid 1px red;
   position:absolute;
   left:0px;
   top:20px;
   background-color:gray;
  }
  .provinceInfo span{
   cursor:pointer;
  }
  .cityInfo{
   display:none;
   border:solid 1px red;
   position:absolute;
   border:solid 1px red;
   left:160px;
   top:20px;
   background-color:gray;
  }
  .cityInfo span{
   cursor:pointer;
  }
  .selected{
  background-color:red;
  }
  .notForSelect{
  cursor:auto!important;
  background-color:blue;
  }
</style>
<div class="editStep6">
  <form action="edit6.ejs" method="post" id="editStep6">
   <div>
    <span>父母状况</span>
    <select name="editStep6a" id="editStep6a" class="checkEmpty">
     <option>请选择</option>
     <option>父母均健在</option>
     <option>只有父亲健在</option>
     <option>只有母亲健在</option>
     <option>父母均已离世</option>
    </select>
   </div>
<div>
    <span>兄弟姐妹</span>
    <select name="editStep6b" id="editStep6b" class="checkEmpty">
    <option>请选择</option>
    <option>独身子女</option>
    <option>2</option>
    <option>3</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    </select>
 </div>
<div > <span>婚后与父母住吗</span>
 <select name="editStep6d" class="checkEmpty">
  <option>请选择</option>
  <option>与自己父母同住</option>
  <option>不与自己父母同住</option>
  <option>尊重伴侣意见</option>
  <option>视具体情况而定</option>
 </select>
</div>
</div>
</div>
<div>
    <p>说说您的家庭氛围、父母的职业及对您的期望</p>
    <p>您的伴侣可以更好的融入您的家庭</p>
    <textarea name="editStep6e" id="edit5a"  rows="10" cols="40"></textarea>
    <div>限20-500字，目前已输入<span id="edit5cCounter1">0</span>字，您还可以输入<span id="edit5cCounter2">500</span>字</div>
  </div>
   <input type="submit" value="提交审核">
   <input type="hidden" name="checkSubmit" />
  </form>
</div>
<script type="text/javascript">
   $(function(){
      $("#editStep6").bind("submit",function(e){
		 var emptyFlag=false;

     $.each($(".checkEmpty"),function(i,v){
     var checkEmpty=$(v).val();
	 if(checkEmpty.indexOf("请选择")!=-1){
	   var getInfo=$(v).prev().text();
	   alert("请选择"+getInfo);
	   emptyFlag=true;
	   return false;
	 }
  
    });
  if(emptyFlag){
    return false;
  }
 
 

		
		
		
		
   });
   
   
   
   
   
   
   
   })
</script>