<script src="/javascript/moveInnerJsToOutside/editProfile.js"></script>
<style type="text/css">
  .hidden{
    display:none;
  }
</style>
<div>
<img src="#" id="profile" />
</div>
<hr/>
<div class="editProfle">
</div>

<div id="renderPictures" class="renderPictures hidden">
<%=profiles%>
</div>