<div class="editStep4">
  <form action="edit4.ejs" method="post" id="editStep4">
   <div>
      <a href="#">喜欢的活动</a>
      <input type="checkbox" name="sportsLoved1"  value="电脑/网络" /><label for="sportsLoved1">电脑/网络</label>
      <input type="checkbox" name="sportsLoved1" value="电子游戏" /><label for="sportsLoved2">电子游戏</label>
      <input type="checkbox" name="sportsLoved1" value="与朋友喝酒" /><label for="sportsLoved3">与朋友喝酒</label>
      <input type="checkbox" name="sportsLoved1" value="品茗" /><label for="sportsLoved4">品茗</label>
      <input type="checkbox" name="sportsLoved1" value="看电影/电视" /><label for="sportsLoved5">看电影/电视</label>
      <input type="checkbox" name="sportsLoved1" value="听音乐" /><label for="sportsLoved6">听音乐</label>
      <input type="checkbox" name="sportsLoved1" value="乐器演奏" /><label for="sportsLoved7">乐器演奏</label>
      <input type="checkbox" name="sportsLoved1" value="烹调" /><label for="sportsLoved8">烹调</label>
      <input type="checkbox" name="sportsLoved1" value="摄影" /><label for="sportsLoved9">摄影</label>
      <input type="checkbox" name="sportsLoved1" value="下棋/打牌" /><label for="sportsLoved10">下棋/打牌</label>
      <input type="checkbox" name="sportsLoved1" value="观光旅游" /><label for="sportsLoved11">观光旅游</label>
      <input type="checkbox" name="sportsLoved1" value="逛街购物" /><label for="sportsLoved12">逛街购物</label>
      <input type="checkbox" name="sportsLoved1" value="阅读" /><label for="sportsLoved13">阅读</label>
      <input type="checkbox" name="sportsLoved1" value="写作" /><label for="sportsLoved14">写作</label>
      <input type="checkbox" name="sportsLoved1" value="舞会/卡拉OK" /><label for="sportsLoved15">舞会/卡拉OK</label>
      <input type="checkbox" name="sportsLoved1" value="各种收集活动" /><label for="sportsLoved16">各种收集活动</label>
      <input type="checkbox" name="sportsLoved1" value="理财/投资" /><label for="sportsLoved17">理财/投资</label>
      <input type="checkbox" name="sportsLoved1" value="文艺表演" /><label for="sportsLoved18">文艺表演</label>
      <input type="checkbox" name="sportsLoved1" value="聊天" /><label for="sportsLoved19">聊天</label>
      <input type="checkbox" name="sportsLoved1" value="家务/手工艺" /><label for="sportsLoved20">家务/手工艺</label>
      <input type="checkbox" name="sportsLoved1" value="书法/绘画" /><label for="sportsLoved21">书法/绘画</label>
      <input type="checkbox" name="sportsLoved1" value="其他" /><label for="sportsLoved22">其他</label>
   </div>

<div>
      <a href="#">喜欢的体育活动</a>
      <input type="checkbox" name="sportsLoved2" value="足球" /><label for="sportsLoved23">足球</label>
      <input type="checkbox" name="sportsLoved2" value="排球" /><label for="sportsLoved24">排球</label>
      <input type="checkbox" name="sportsLoved2" value="篮球" /><label for="sportsLoved25">篮球</label>
      <input type="checkbox" name="sportsLoved2" value="骑单车/摩托车" /><label for="sportsLoved26">骑单车/摩托车</label>
      <input type="checkbox" name="sportsLoved2" value="乒乓球" /><label for="sportsLoved27">乒乓球</label>
      <input type="checkbox" name="sportsLoved2" value="保龄球" /><label for="sportsLoved28">保龄球</label>
      <input type="checkbox" name="sportsLoved2" value="健身/跑步" /><label for="sportsLoved29">健身/跑步</label>
      <input type="checkbox" name="sportsLoved2" value="足球" /><label for="sportsLoved30">钓鱼</label>
      <input type="checkbox" name="sportsLoved2" value="游泳/冲浪/潜水" /><label for="sportsLoved31">游泳/冲浪/潜水</label>
      <input type="checkbox" name="sportsLoved2" value="网球" /><label for="sportsLoved32">网球</label>
      <input type="checkbox" name="sportsLoved2" value="羽毛球" /><label for="sportsLoved33">羽毛球</label>
      <input type="checkbox" name="sportsLoved2" value="高尔夫" /><label for="sportsLoved34">高尔夫</label>
      <input type="checkbox" name="sportsLoved2" value="滑冰/滑雪" /><label for="sportsLoved35">滑冰/滑雪</label>
      <input type="checkbox" name="sportsLoved2" value="其他" /><label for="sportsLoved36">其他</label>
      <input type="checkbox" name="sportsLoved2" value="舞会/卡拉O" /><label for="sportsLoved37">舞会/卡拉OK</label>
   </div>


<div>
      <a href="#">喜欢的音乐</a>
      <input  type="checkbox" name="musicLoved" value="中文流行音乐" /><label for="musicLoved1">中文流行音乐</label>
      <input  type="checkbox" name="musicLoved" value="轻音乐" /><label for="musicLoved2">轻音乐</label>
      <input  type="checkbox" name="musicLoved" value="民族音乐" /><label for="musicLoved3">民族音乐</label>
      <input  type="checkbox" name="musicLoved" value="老歌" /><label for="musicLoved4">老歌</label>
      <input  type="checkbox" name="musicLoved" value="舞曲" /><label for="musicLoved5">舞曲</label>
      <input  type="checkbox" name="musicLoved" value="歌剧" /><label for="musicLoved6">歌剧</label>
      <input  type="checkbox" name="musicLoved" value="西部乡村" /><label for="musicLoved7">西部乡村</label>
      <input  type="checkbox" name="musicLoved" value="英文流行音乐" /><label for="musicLoved8">英文流行音乐</label>
      <input  type="checkbox" name="musicLoved" value="交响乐" /><label for="musicLoved9">交响乐</label>
      <input  type="checkbox" name="musicLoved" value="地方戏曲" /><label for="musicLoved10">地方戏曲</label>
      <input  type="checkbox" name="musicLoved" value="摇滚" /><label for="musicLoved11">摇滚</label>
      <input  type="checkbox" name="musicLoved" value="另类" /><label for="musicLoved12">另类</label>
      <input  type="checkbox" name="musicLoved" value="灵歌" /><label for="musicLoved13">灵歌</label>
      <input  type="checkbox" name="musicLoved" value="爵士/蓝调" /><label for="musicLoved14">爵士/蓝调</label>
      <input  type="checkbox" name="musicLoved" value="其他" /><label for="musicLoved15">其他</label>
   </div>



<div>
      <a href="#">喜欢的电影</a>
      <input  type="checkbox" name="movieLoved" value="故事片" /><label for="movieLoved1">故事片</label>
      <input  type="checkbox" name="movieLoved" value="文艺爱情" /><label for="movieLoved2">文艺爱情</label>
      <input  type="checkbox" name="movieLoved" value="科幻" /><label for="movieLoved3">科幻</label>
      <input  type="checkbox" name="movieLoved" value="动作武侠" /><label for="movieLoved4">动作武侠</label>
      <input  type="checkbox" name="movieLoved" value="侦探推理" /><label for="movieLoved5">侦探推理</label>
      <input  type="checkbox" name="movieLoved" value="实验电影" /><label for="movieLoved6">实验电影</label>
      <input  type="checkbox" name="movieLoved" value="老电影" /><label for="movieLoved7">老电影</label>
      <input  type="checkbox" name="movieLoved" value="限制级电影" /><label for="movieLoved8">限制级电影</label>
      <input  type="checkbox" name="movieLoved" value="儿童/卡通片" /><label for="movieLoved9">儿童/卡通片</label>
      <input  type="checkbox" name="movieLoved" value="纪录片" /><label for="movieLoved10">纪录片</label>
      <input  type="checkbox" name="movieLoved" value="西部电影" /><label for="movieLoved11">西部电影</label>
      <input  type="checkbox" name="movieLoved" value="恐怖" /><label for="movieLoved12">恐怖</label>
      <input  type="checkbox" name="movieLoved" value="得奖电影" /><label for="movieLoved13">得奖电影</label>
      <input  type="checkbox" name="movieLoved" value="艺术电影" /><label for="movieLoved14">艺术电影</label>
      <input  type="checkbox" name="movieLoved" value="音乐歌舞" /><label for="movieLoved15">音乐歌舞</label>
      <input  type="checkbox" name="movieLoved" value="肥皂剧" /><label for="movieLoved16">肥皂剧</label>
      <input  type="checkbox" name="movieLoved" value="喜剧" /><label for="movieLoved18">喜剧</label>
      <input  type="checkbox" name="movieLoved" value="其他" /><label for="movieLoved19">其他</label>
      <input  type="checkbox" name="movieLoved" value="什么都看" /><label for="movieLoved20">什么都看</label>
   </div>
<div>
      <a href="#">喜欢的食物</a>
      <input  type="checkbox" name="foodLoved" value="川菜" /><label for="foodLoved1">川菜</label>
      <input  type="checkbox" name="foodLoved" value="江浙菜" /><label for="foodLoved2">江浙菜</label>
      <input  type="checkbox" name="foodLoved" value="湘菜" /><label for="foodLoved3">湘菜</label>
      <input  type="checkbox" name="foodLoved" value="火锅" /><label for="foodLoved4">火锅</label>
      <input  type="checkbox" name="foodLoved" value="烧烤" /><label for="foodLoved5">烧烤</label>
      <input  type="checkbox" name="foodLoved" value="家常菜" /><label for="foodLoved6">家常菜</label>
      <input  type="checkbox" name="foodLoved" value="路边摊" /><label for="foodLoved7">路边摊</label>
      <input  type="checkbox" name="foodLoved" value="健康食品" /><label for="foodLoved8">健康食品</label>
      <input  type="checkbox" name="foodLoved" value="零食" /><label for="foodLoved9">零食</label>
      <input  type="checkbox" name="foodLoved" value="粤菜" /><label for="foodLoved10">粤菜</label>
      <input  type="checkbox" name="foodLoved" value="北方菜" /><label for="foodLoved11">北方菜</label>
      <input  type="checkbox" name="foodLoved" value="面食" /><label for="foodLoved12">面食</label>
      <input  type="checkbox" name="foodLoved" value="素食" /><label for="foodLoved13">素食</label>
      <input  type="checkbox" name="foodLoved" value="甜食" /><label for="foodLoved14">甜食</label>
      <input  type="checkbox" name="foodLoved" value="自助餐" /><label for="foodLoved15">自助餐</label>
      <input  type="checkbox" name="foodLoved" value="减肥餐"/><label for="foodLoved16">减肥餐</label>
      <input  type="checkbox" name="foodLoved" value="能填饱肚子就好" /><label for="foodLoved17">能填饱肚子就好</label>
      <input  type="checkbox" name="foodLoved" value="其他" /><label for="foodLoved18">其他</label>
   </div>




<div>
      <a href="#">喜欢的地方</a>
      <input  type="checkbox" name="placeLoved" value="都市" /><label for="placeLoved1">都市</label>
      <input  type="checkbox" name="placeLoved" value="村庄" /><label for="placeLoved2">村庄</label>
      <input  type="checkbox" name="placeLoved" value="小镇" /><label for="placeLoved3">小镇</label>
      <input  type="checkbox" name="placeLoved" value="山区" /><label for="placeLoved4">山区</label>
      <input  type="checkbox" name="placeLoved" value="办公室/学校" /><label for="placeLoved5">办公室/学校</label>
      <input  type="checkbox" name="placeLoved" value="游乐场" /><label for="placeLoved6">游乐场</label>
      <input  type="checkbox" name="placeLoved" value="购物中心" /><label for="placeLoved7">购物中心</label>
      <input  type="checkbox" name="placeLoved" value="我家/我的房间" /><label for="placeLoved8">我家/我的房间</label>
      <input  type="checkbox" name="placeLoved" value="海滨" /><label for="placeLoved9">海滨</label>
      <input  type="checkbox" name="placeLoved" value="岛屿" /><label for="placeLoved10">岛屿</label>
      <input  type="checkbox" name="placeLoved" value="沙漠" /><label for="placeLoved11">沙漠</label>
      <input  type="checkbox" name="placeLoved" value="雪野" /><label for="placeLoved12">雪野</label>
      <input  type="checkbox" name="placeLoved" value="图书馆/书店" /><label for="placeLoved13">图书馆/书店</label>
      <input  type="checkbox" name="placeLoved" value="展览馆" /><label for="placeLoved14">展览馆</label>
      <input  type="checkbox" name="placeLoved" value="古迹" /><label for="placeLoved15">古迹</label>
      <input  type="checkbox" name="placeLoved" value="森林" /><label for="placeLoved16">森林</label>
      <input  type="checkbox" name="placeLoved" value="公园" /><label for="placeLoved17">公园</label>
      <input  type="checkbox" name="placeLoved" value="咖啡厅/酒吧" /><label for="placeLoved18">咖啡厅/酒吧</label>
      <input  type="checkbox" name="placeLoved" value="动物园" /><label for="foodLoved18">动物园</label>
      <input  type="checkbox" name="placeLoved" value="夜市赶集" /><label for="foodLoved18">夜市赶集</label>
      <input  type="checkbox" name="placeLoved" value="各种俱乐部" /><label for="foodLoved18">各种俱乐部</label>
      <input  type="checkbox" name="placeLoved" value="其他" /><label for="foodLoved18">其他</label>
   </div>


<div>
      <a href="#">喜欢的宠物</a>
      <input  type="checkbox" name="petLoved" value="狗" /><label for="petLoved1">狗</label>
      <input  type="checkbox" name="petLoved" value="猫" /><label for="petLoved2">猫</label>
      <input  type="checkbox" name="petLoved" value="鱼" /><label for="petLoved3">鱼</label>
      <input  type="checkbox" name="petLoved" value="兔" /><label for="petLoved4">兔</label>
      <input  type="checkbox" name="petLoved" value="鸟" /><label for="petLoved5">鸟</label>
      <input  type="checkbox" name="petLoved" value="乌龟" /><label for="petLoved6">乌龟</label>
      <input  type="checkbox" name="petLoved" value="蜥蜴" /><label for="petLoved7">蜥蜴</label>
      <input  type="checkbox" name="petLoved" value="鼠" /><label for="petLoved8">鼠</label>
      <input  type="checkbox" name="petLoved" value="蛇" /><label for="petLoved9">蛇</label>
      <input  type="checkbox" name="petLoved" value="另类宠物" /><label for="petLoved10">另类宠物</label>
      <input  type="checkbox" name="petLoved" value="另类宠物" /><label for="petLoved10">另类宠物</label>
   </div>



	<input type="submit" value="保存并继续" /><br />
	<input type="hidden" name="checkSubmit" />
  </form>
</div>