<script src="/javascript/moveInnerJsToOutside/edit3.js"></script>
<div class="editStep3">
  <form action="edit3.ejs" method="post" id="editStep3">
  <div>
    <span>职业类别:</span>
    <select  class="checkEmpty" name="edit3a" id="edit3a"><%-partial('listItems',editHtml4)%></select>
    <select  class="checkEmpty" name="edit3aSub" id="edit3aSub">
      <option>请选择</option>
    </select>
  </div>
  <div>
  <span>公司类别:</span>
    <select class="checkEmpty" name="edit3b" id="edit3b">
     <option>请选择</option>
     <option>政府机关</option>
     <option>事业单位</option>
     <option>外资企业</option>
     <option>合资企业</option>
     <option>国营企业</option>
     <option>私营企业</option>
     <option>自有公司</option>
     <option>其他</option>
    </select>
  </div>
  <div>
    <p>说说您的工作情况，描述越详细，越有助您找到合适的伴侣</p>
    <p>比如您的职位，工作感受，要不要经常出差，社交应酬多不多等等</p>
    <textarea name="edit3c" id="edit3c"  rows="10" cols="40"></textarea>
    <div>限20-500字，目前已输入<span id="edit3cCounter1">0</span>字，您还可以输入<span id="edit3cCounter2">500</span>字</div>
  </div>





	<input type="submit" value="保存并继续" /><br />
	<input type="hidden" name="checkSubmit" />
  </form>
</div>



