<title>
	<%=title%></title>
<link rel='stylesheet' href='/stylesheets/index.css' />
<script src="/javascript/json.js"></script>
<script src="/javascript/navi.js"></script>
<div class="wrap">
<a href="whiteCollar.ejs" />white collar</a>
</div>
