<title>
	<%=title%></title>
<link rel='stylesheet' href='/stylesheets/index.css' />
<script src="/javascript/index.js"></script><!--登录-->
<script src="/javascript/json.js"></script>
<script src="/javascript/cookieHelp.js"></script>
<script src="/javascript/navi.js"></script>
<script src="/javascript/staticUtils.js"></script>
<div class="wrap">
 <div class="wrapLeft">
    <div class="forumMain">
     <div class="title">
       <span>速配论坛</span>
       <span>白领一族</span>
       <select id="querying" name="myQuerying">
         <option>回帖时间</option>
         <option>发帖时间</option>
         <option>人气指数</option>
         <option>回帖数量</option>
       </select>
      <a href="#" id="sendPost" onclick="sendPost()">发帖子</a>

     </div>


    </div>
 </div>


 <div class="wrapRight">

2
 </div>





</div>
<script type="text/javascript">
   function sendPost(){
   //检查有无登录
   var checkAccount=getTargetCookie("username");
   if(!checkAccount||checkAccount==0){
      login();
      return false;
    }
    window.location.href="/WebstormProjects/web/views/posts.ejs";




   }

















function login(){
                 var newCompents=new phDisplay();
                 var loginContents="<form action='#' method='post' id='loginForm'>"+
                                   "<p><label for='account'>账号:</label><input type='text' id='account' name='account' autocomplete='on' /></p>"+
                                   "<p><label for='pass'>密码:</label><input type='password' id='pass' name='password' autocomplete='on' /></span></p>"+
                                   "<input type='button' value='提交' id='submitThis'><br />"+
                                   "<input type='hidden' name='checkSubmit'>"+
                                   "</form>";
                 newCompents.popDiv("popDiv",true,loginContents);
               }




</script>