<script src="/javascript/directive/cpPreview.js"></script>
<script src="/javascript/landing/landing.js"></script>

<link rel='stylesheet' href='/stylesheets/directive/directive_cppreview.css' />


<cppreview></cppreview>


<div id="showingPic" ng-controller='landing'>


</div>

