<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />



<script src="/javascript/libs/jquery-1.4.2.js"></script>
<script src="/javascript/Compents.js"></script>

<!--
<script src="/javascript/xmlHttpRequest.js"></script>
-->

<script src="/javascript/userEdit.js"></script>
<script src="/javascript/json.js"></script>
<script src="/javascript/cookieHelp.js"></script>

<script src="/javascript/libs/angular.js"></script>
<script src="/javascript/libs/angular-strap.js"></script>
<script src="/javascript/libs/angular-strap.tpl.js"></script>
<script src="/javascript/libs/angular-resource.js"></script>


<script src="/javascript/initAjax.js"></script>
<script src="/javascript/agMain/agMain.js"></script>
<script src="/javascript/sharedComponents/utility.js"></script>
<script src="/javascript/sharedComponents/constant.js"></script>
<script src="/javascript/sharedComponents/api.js"></script>
<script src="/javascript/sharedComponents/validation.js"></script>
<script src="/javascript/sharedComponents/showError.js"></script>
<script src="/javascript/sharedComponents/errorMsg.js"></script>
<script src="/javascript/sharedComponents/loginHelp.js"></script>
<script src="/javascript/sharedComponents/localStorage.js"></script>


<script src="/javascript/directive/breadcrumb.js"></script>
<script src="/javascript/directive/spotlight.js"></script>

<script src="/javascript/directive/cpPreview.js"></script>
<script src="/javascript/directive/mainSideMenu.js"></script>
<script src="/javascript/directive/registerAndLogin.js"></script>
<script src="/javascript/directive/userStatusBanner.js"></script>






</head>
<body ng-app = 'main'>
	<div>
		
		<!--<spotlight></spotlight>-->
	</div><!--common parts-->



    <%- body %>
</body>
</html>