<title><%=title%></title>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>  
<style type="text/css">
 .map{
   width:1000px;
   height:800px;
   border:solid 1px red;
 }
</style>
<script type="text/javascript">
  function addMakeUp(){
   
    //var marker = new BMap.Marker(point); 
    //map.addOverlay(marker);
  }
</script>
<div class="wrap">
 <div id="map" class="map" onclick="addMakeUp();"></div> 
 <script type="text/javascript">  
            var map = new BMap.Map("map");  
            var point = new BMap.Point(500,500);  
            map.centerAndZoom(point,15); 
		    map.addControl(new BMap.NavigationControl());
	        map.addControl(new BMap.MapTypeControl());
	        map.addControl(new BMap.ScaleControl());
	        map.addControl(new BMap.OverviewMapControl());	
			

			
 </script> 









</div><!--wrap-->