

<title>
	<%=title%></title>
<link rel='stylesheet' href='/stylesheets/index.css' />
<script src="/javascript/index.js"></script><!--登录-->
<script src="/javascript/json.js"></script>
<script src="/javascript/cookieHelp.js"></script>
<script src="/javascript/navi.js"></script>
<script src="/javascript/staticUtils.js"></script>
<script src="/javascript/ajax.js"></script>
<div class="wrap">
 <div class="wrapLeft">
      <div class="title">
           <span>速配论坛</span>
           <span>白领一族</span>
       </div>
      <div class="postWrap">
      <span>标题:</span><input type="text"  id="postTitle" /><br />
      <span>正文:</span><textarea name="postContents" id="postContents"></textarea><br />
      <input type="button" value="提交" id="sP" onclick='submitMyPost()' /><!--ajax.js-->



      </div><!--postWrap-->


 </div>


 <div class="wrapRight">

2
 </div>





</div>

