<title><%=title%></title>
<script src="/javascript/libraries.js"></script>
<script src="/javascript/moveInnerJsToOutside/proofValidation.js"></script>
<style type="text/css">
.checkProofWrap{
 margin-top:50px;
}
#rejectProof{
 margin-left:15px;
}
</style>
<div class="wrap">
</div><!--wrap-->