<title><%=title%></title>
<script src="/javascript/common.js"></script>
<script src="/javascript/libraries.js"></script>
<script src="/javascript/cookieHelp.js"></script>
<script type="text/javascript">
 if(!fileSubmit){
 var fileSubmit={};
 //这边必须要加var, 如果加var的话,在js的预编译阶段
 //会声明这个变量,并且会给这个变量一个默认值:undefinied
 //当代码进入执行期时,这个变量是经过声明的变量,值是undefinied
 //所以可以参与表达式计算,如果没有var,这个变量在参与表达式计算的时候,是未声明的,任何
 //未声明的变量参与表达式计算会抛出异常
 fileSubmit.file=(function(){
    function _submitFile(o){
	   var checkUsername=getTargetCookie("username");
	   if(checkUsername){
		 $(o).parent("form").find(".checkAccount").val(checkUsername);
	     var checkFile=$(o).parent("form").find(".selectFile").val();
		 if(checkFile){
		  $(o).parent("form").submit();
		 }
		 else{
		  alert("请选择文件");
		 }
	   }
	   else{
	     throw new Error("用户未登录");
	   }
	}
	return {
	   submitFile:function(o){
	     _submitFile(o);
	   }
	};
  })()
 }
 else{
 throw new Error("name space in use");
 }
</script>
<div class="wrap">
<form action="Proof.ejs" class="submitForm" method="post" id="submitProofIdCard" enctype="multipart/form-data">
  <label for="submitId">身份证截图:</label><input type="file" class="selectFile" name="uploadFile" id="submitId" />
  <input type="hidden" class="checkAccount" name="checkUsername" value="" />
  <input type="hidden" name="proofType" value="1" class="proofType" />
  <input type="button" id="submitUserID" value="提交" onclick="fileSubmit.file.submitFile(this)" />
</form>
<form action="Proof.ejs" class="submitForm" method="post" id="submitProofIncome2" enctype="multipart/form-data">
  <label for="submitId2">收入证明:</label><input type="file" class="selectFile" name="uploadFile" id="submitId2" />
  <input type="hidden" class="checkAccount" name="checkUsername" value="" />
  <input type="hidden" name="proofType" value="2" class="proofType" />
  <input type="button" id="submitUserIncome" value="提交" onclick="fileSubmit.file.submitFile(this)" />
</form>
<form action="Proof.ejs" class="submitForm" method="post" id="submitProofIncome3" enctype="multipart/form-data">
  <label for="submitId3">房产证明:</label><input type="file" class="selectFile" name="uploadFile" id="submitId3" />
  <input type="hidden" class="checkAccount" name="checkUsername" value="" />
  <input type="hidden" name="proofType" value="3" class="proofType" />
  <input type="button" id="submitUserIncome2" value="提交" onclick="fileSubmit.file.submitFile(this)" />
</form>
<form action="Proof.ejs" class="submitForm" method="post" id="submitProofIncome4" enctype="multipart/form-data">
  <label for="submitId4">港澳通行证:</label><input type="file" class="selectFile" name="uploadFile" id="submitId4" />
  <input type="hidden" class="checkAccount" name="checkUsername" value=""  />
  <input type="hidden" name="proofType" value="4"  class="proofType" />
  <input type="button" id="submitUserIncome3" value="提交" onclick="fileSubmit.file.submitFile(this)" />
</form>
<form action="Proof.ejs" class="submitForm" method="post" id="submitProofIncome5" enctype="multipart/form-data">
  <label for="submitId5">驾驶证:</label><input type="file" class="selectFile" name="uploadFile" id="submitId5" />
  <input type="hidden" class="checkAccount" name="checkUsername" value=""  />
  <input type="hidden" name="proofType" value="5" class="proofType" />
  <input type="button" id="submitUserIncome3" value="提交" onclick="fileSubmit.file.submitFile(this)" />
</form>
</div><!--wrap-->