<title><%=title%></title>
<script src="/javascript/common.js"></script>
<script src="/javascript/libraries.js"></script>
<script src="/javascript/cookieHelp.js"></script>



<script src="/javascript/moveInnerJsToOutside/submitProof.js"></script>



<div class="wrap">
<form action="Proof.ejs" class="submitForm" method="post" id="submitProofIdCard" enctype="multipart/form-data">
  <label for="submitId">身份证截图:</label><input type="file" class="selectFile" name="uploadFile" id="submitId" />
  <input type="hidden" class="checkAccount" name="checkUsername" value="" />
  <input type="hidden" name="proofType" value="1" class="proofType" />
  <input type="button" id="submitUserID" value="提交" onclick="fileSubmit.file.submitFile(this)" />
</form>
<form action="Proof.ejs" class="submitForm" method="post" id="submitProofIncome2" enctype="multipart/form-data">
  <label for="submitId2">收入证明:</label><input type="file" class="selectFile" name="uploadFile" id="submitId2" />
  <input type="hidden" class="checkAccount" name="checkUsername" value="" />
  <input type="hidden" name="proofType" value="2" class="proofType" />
  <input type="button" id="submitUserIncome" value="提交" onclick="fileSubmit.file.submitFile(this)" />
</form>
<form action="Proof.ejs" class="submitForm" method="post" id="submitProofIncome3" enctype="multipart/form-data">
  <label for="submitId3">房产证明:</label><input type="file" class="selectFile" name="uploadFile" id="submitId3" />
  <input type="hidden" class="checkAccount" name="checkUsername" value="" />
  <input type="hidden" name="proofType" value="3" class="proofType" />
  <input type="button" id="submitUserIncome2" value="提交" onclick="fileSubmit.file.submitFile(this)" />
</form>
<form action="Proof.ejs" class="submitForm" method="post" id="submitProofIncome4" enctype="multipart/form-data">
  <label for="submitId4">港澳通行证:</label><input type="file" class="selectFile" name="uploadFile" id="submitId4" />
  <input type="hidden" class="checkAccount" name="checkUsername" value=""  />
  <input type="hidden" name="proofType" value="4"  class="proofType" />
  <input type="button" id="submitUserIncome3" value="提交" onclick="fileSubmit.file.submitFile(this)" />
</form>
<form action="Proof.ejs" class="submitForm" method="post" id="submitProofIncome5" enctype="multipart/form-data">
  <label for="submitId5">驾驶证:</label><input type="file" class="selectFile" name="uploadFile" id="submitId5" />
  <input type="hidden" class="checkAccount" name="checkUsername" value=""  />
  <input type="hidden" name="proofType" value="5" class="proofType" />
  <input type="button" id="submitUserIncome3" value="提交" onclick="fileSubmit.file.submitFile(this)" />
</form>
</div><!--wrap-->