<title>
	<%=title%></title>
<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/stylesheets/post.css' />
<script src="/javascript/json.js"></script>
<script src="/javascript/navi.js"></script>
<script src="/javascript/index.js"></script>
<script src="/javascript/message.js"></script>
<script src="/javascript/socket.js"></script>
<script src="http://localhost:8080/socket.io/socket.io.js"></script>
<script type="text/javascript">
 $(function(){
  function displayPost(){
    $.ajax({
	 url:"/WebstormProjects/web/views/displayAllPost.ejs",
	 data:null,
	 type:"get",
	 cache:false,
	 success:function(d){
	 var storePostWithPic=[]; //这个数组存储所有有图片的贴子的用户名+postId
	  for(var i=0;i<d.length;i++){
        var eachPostReplies=JSON.parse(d[i]["reply"]);
		if(eachPostReplies){
		  for(var i2=0;i2<eachPostReplies.length;i2++){
		    if(i2==((eachPostReplies.length)-1)){
			  var lastReply=eachPostReplies[i2]["c"];
			}
		 }
		}
		else{
		 var lastReply="";
		}
	    var replyLength=(JSON.parse(d[i]["reply"])).length;
		if(!replyLength){
		  replyLength=0;
		}
	    var id=d[i]["id"];
		var byWhom=d[i]["byWhom"];
		var byWhomFalseName=d[i]["falseName"];
		var time=d[i]["time"];
		var title=d[i]["title"];
	    var contents=d[i]["contents"];
		var hasPic=d[i]["hasPic"];//这个帖子是不是有图片
		var postId=d[i]["postId"];//post's id 发贴子的时刻到过去某点的时间段,唯一
		var postId2=postId;
		var imgFlag=byWhom+"_"+postId;
		if(hasPic==1){
		   checkPic=1;
		   postId=byWhom+"_"+postId;
           storePostWithPic.push(postId);/*检查每个贴子的postId字段,如果为1则说明这个帖子有图片,并把这个帖子的postId存进
		                                  数组storePostWithPic*/
		}
		else{
		  checkPic=0;
		}
		if(contents.length>38){
		 var contestDigest=(contents.substring(0,38))+"...";//preview of post contents
		}
		else{
		  contestDigest=contents;
		}
		var postWrap=$("<div class='eachPost' id='eachPost'><span class='replays' id='replays'>"+replyLength+"</span class='title' id='title'><a href='postDetail.ejs?pid="+id+"&imgFlag="+imgFlag+"&pic="+checkPic+"'>"+title+"</a>"+
		               "<span class='contestDigest' id='contestDigest'>"+contestDigest+"</span><span class='whoPost' id='whoPost'>"+byWhomFalseName+"</span>"+
					   "<div class='bigPic'></div>"+
					 
					   "<span class='postId' style='display:none;'>"+postId2+"</span>"+
					   
					   "<div class='rollPic'><div class='rollPicLeft' onclick='rollLeft(this)'></div><div class='rollPicRight' onclick='rollRight(this)'></div></div>"+
					   "<span class='lastReplay' id='lastReplay'>"+lastReply+"</span>"+"<span class='time' id='time'>"+time+"</span>");
		postWrap.appendTo($("#allPost"));
	  }
	   displayAllPostImg(storePostWithPic);
	 },
	 error:function(xhr,statusText,error){
	   if(error){
	    throw error;
	   }
	 }
	});
  }
 displayPost()
 //在本页面显示所有贴子的标题和内容预览
 
 
 
 function displayAllPostImg(postsWithImg){
 
    $.ajax({
	  url:"/WebstormProjects/web/views/displayAllPostImg.ejs",
	  type:"post",
	  data:{"postID":postsWithImg},
	  success:function(d){
	    var storeDetailInfo=[];
	    for(var i=0;i<d.length;i++){
		   var eachInfoHolder={}
		   for(var i2 in d[i]){
		      var postId=i2; 
		      eachInfoHolder["postId"]=postId;
		      eachInfoHolder["imgUrlArray"]=d[i][i2];
		   }
		   storeDetailInfo.push(eachInfoHolder);
		}

	    $.each($(".postId"),function(i,v){
		  var checkPostId=$(v).text();
		  for(var i3=0;i3<storeDetailInfo.length;i3++){
			  var rId= storeDetailInfo[i3]["postId"].substring((storeDetailInfo[i3]["postId"].indexOf("_"))+1);         
		      if(rId==checkPostId){
			     var imgUrlArr=storeDetailInfo[i3]["imgUrlArray"];
				 var account=storeDetailInfo[i3]["postId"].substring(0,(storeDetailInfo[i3]["postId"].indexOf("_")));
				 var findImgHolder=$(v).prev();//图片全放在这个div里面,给个预览
				 var rollPicWrap=$(v).next();
				 for(var i4=0;i4<imgUrlArr.length;i4++){
				   var eachPicUrl="../uploads/postPic/"+account+"_"+rId+"/"+imgUrlArr[i4];
				   var eachImg=$("<img class='eachImg' src='"+eachPicUrl+"' />");
				   var eachRollingImg=eachImg;
				   findImgHolder.append(eachImg);
				 }
			  }
		  }
		});
		 setTimeout(changePicImage,0);
	  },
	  error:function(xhr,respText,e){
	    if(e){
		  throw e;
		}
	  }
	});
  }
  

  
  function changePicImage(){
    //这个函数先取得每张图片的实际尺寸，然后再等比例缩放，将图片放小
	$.each($(".eachImg"),function(i,v){
	  var picWidth= parseInt(v.width);
	  var picHeight= parseInt(v.height);
      var changePicWidth=picWidth*0.5;
	  var changePicHeight=picHeight*0.5;
	  v.width=changePicWidth;
      v.height=changePicHeight;
	});
  }
  
  
  
  $(".eachImg").live("click",function(e){
	  $(e.target).parents(".eachPost").find(".rollPic").show();
	  $(e.target).siblings().hide();
	  $(e.target).hide();
	  var imgWidth=(e.target.width)*2;
	  var imgHeight=(e.target.height)*2;
	  var imgUrl=$(e.target).attr("src");
	  var bigImg=$("<img onclick='showSmallPic(this)' class='bigImg' src='"+imgUrl+"' />");
	  var bigImgWrap=$(e.target).parents(".eachPost").find(".rollPic");
	  bigImgWrap.append(bigImg);
  });
 })
</script>
<script type="text/javascript">

function showSmallPic(o){
 $(o).parents(".eachPost").find(".eachImg").show();
 $(o).parents(".eachPost").find(".rollPic").hide();
 $(o).remove();
}



function rollLeft(o){
  var checkCurrentPicUrl=$(o).parent(".rollPic").find("img").attr("src");
  var lastBigPicWrap=$(o).parents(".eachPost").find(".bigPic");
  var lastEachImg=lastBigPicWrap.find("img");
  $.each(lastEachImg,function(i,v){
     var checkImg=$(v).attr("src");
	 if(checkImg==checkCurrentPicUrl){
	    ifHasPreImg=$(v).prev();
		ifHasNextImg=$(v).next();
		if(ifHasPreImg[0]){
		  //有上一张图片
		  var prePicUrl=ifHasPreImg.attr("src");
		}
		else{
		   prePicUrl=false;
		}
		if(ifHasNextImg[0]){
		  //有上一张图片
		  var nextPicUrl=ifHasNextImg.attr("src");
		}
		else{
		   nextPicUrl=false;
		}
		  if(prePicUrl){
          $(o).siblings("img").attr("src",prePicUrl);
		  return false;
         }
	 }
  });
}



function rollRight(o){
  var checkCurrentPicUrl=$(o).parent(".rollPic").find("img").attr("src");
  var lastBigPicWrap=$(o).parents(".eachPost").find(".bigPic");
  var lastEachImg=lastBigPicWrap.find("img");
  $.each(lastEachImg,function(i,v){
     var checkImg=$(v).attr("src");
	 if(checkImg==checkCurrentPicUrl){
	    ifHasPreImg=$(v).prev();
		ifHasNextImg=$(v).next();
		if(ifHasPreImg[0]){
		  //有上一张图片
		  var prePicUrl=ifHasPreImg.attr("src");
		}
		else{
		   prePicUrl=false;
		}
		if(ifHasNextImg[0]){
		  //有上一张图片
		  var nextPicUrl=ifHasNextImg.attr("src");
		}
		else{
		   nextPicUrl=false;
		}
		  if(nextPicUrl){
          $(o).siblings("img").attr("src",nextPicUrl);
		  return false;
         }
	 }
  });
}





function login2(){
                 var newCompents=new phDisplay();
                 var loginContents="<form action='#' method='post' id='loginForm'>"+
                                   "<p><label for='account'>account:</label><input type='text' id='account' name='account' autocomplete='on' /></p>"+
                                   "<p><label for='pass'>password:</label><input type='password' id='pass' name='password' autocomplete='on' /></p>"+
                                   "<input type='button' value='submit' id='submitThis'><br />"+
                                   "<input type='hidden' name='checkSubmit'>"+
                                   "</form>";
                 newCompents.popDiv("popDiv",true,loginContents);
               }
			   
			   
			   
  function sendPost(){
    var isLogin=getTargetCookie("username");
	var falseName=getTargetCookie("falseName");
	var falseName=decodeURI(falseName);
	if(!isLogin){
	    login2();
	    return false;
	}
	//发帖子必须登录
	var title=$("#postTitle").val();
	var contents=$("#postContents").val();
    var title=title.replace(/'/g,"`");
    var title=title.replace(/"/g,"`");
	var contents=contents.replace(/'/g,"`");
	var contents=contents.replace(/"/g,"`");
	var time=getCurrentTime();
	var byWhom=isLogin;
	$.ajax({
	 url:"/WebstormProjects/web/views/savePost.ejs",
	 type:"post",
	 data:{
	   "title":title,
	   "contents":contents,
	   "time":time,
	   "byWhom":byWhom,
	   "byWhomFalseName":falseName
	 },
	 success:function(d){
	   if(d=="1"){
	     //all ok
		 window.location.href='whiteCollar.ejs'
	   }
	 },
	 error:function(xhr,statusText,error){
	   throw error;
	 }
	});
  }

  
  
  function replayPost2bImg(){
    var isLogin=getTargetCookie("username");
	var falseName=getTargetCookie("falseName");
	var falseName=decodeURI(falseName);
	if(!isLogin){
	    login2();
	    return false;
	}
	//发帖子必须登录
	var title=$("#postTitle2").val();
	var contents=$("#replayTextareaImg").val();
    var title=title.replace(/'/g,"`");
    var title=title.replace(/"/g,"`");
	var contents=contents.replace(/'/g,"`");
	var contents=contents.replace(/"/g,"`");
	var time=getCurrentTime();
	var byWhom=isLogin;
	var postId=(new Date()).getTime();
	$.ajax({
	 url:"/WebstormProjects/web/views/savePost.ejs",
	 type:"post",
	 data:{
	   "title":title,
	   "contents":contents,
	   "time":time,
	   "byWhom":byWhom,
	   "byWhomFalseName":falseName,
	   "postId":postId
	 },
	 success:function(d){
	   if(d=="1"){
	     //all ok
	     if($("#replyImgIndex").css("display")=="block"){
		    if($("#uploadedMyImg").val()){
			  submitPic(postId);
			}
			else{
			 window.location.href='/forum';
			}
		 }
		 else{
		   window.location.href='/forum';
		 }
	   }
	 },
	 error:function(xhr,statusText,error){
	   throw error;
	 }
	});
  }
  
  
  
  
  function submitPic(postId){
    $("#checkPostID").val(postId);
	//给表单的一个隐藏域赋值,这个值是当前ajax贴子的id(一个不可能重复的随机数),这个值将被post给服务器用于提交图片的逻辑
    document.getElementById("replyImgIndex").submit();
  }

  
  
  
  
  
</script>
<div class="wrap">

 <div class="allPost" id="allPost" style="margin-top:150px;">
 </div><!--allPost-->

 
 <div class="sendPost" style="margin-top:100px;">
 <input type="text" id="postTitle" /><br />
 <textarea id="postContents"></textarea><br />
 <input type="button" id="submitPost" value="发帖" onclick="sendPost()" />
 </div><!--sendPost-->
 
 

 <!--带有图片预览功能的回复框-->
 <div class="sendThisPost">
        <div class="sendText">
		  <!--<a href="javascript:void(0)" onclick="$('#replyImgIndex').show();" id="thisUploadPic">上传图片</a><br />-->
		  <span>标题:</span><input type="text" id="postTitle2" /><br />
		  <span>内容:</span><textarea id='replayTextareaImg' class='replayTextareaImg'></textarea><br />
		</div>
	    <form action="postDetailImg.ejs" method="post" id="replyImgIndex" enctype="multipart/form-data" />
		   <div class="myPicPreview" id="myPicPreview">
		   </div>
		   <input type="file" onchange='picPre(this)' class='handlePicPreview' name="uploadedImg" id="uploadedMyImg" /><%=postImgWarning%></postImgWarning><input type="button" value="添加" id="addNewPreviewPic" onclick="addNewPreview();" /><br />
		   <div id="holdPicPreview"></div><!--放置图片预览-->
		   <input type="hidden" name="checkAccount" id="checkUserName" val="" />
		   <input type="hidden" name="checkPostID" id="checkPostID" val="" />
		   <input type="hidden" name="picPreview" value="1" />
		</form>
	   <input type='button' value='发表' class='replyPostButtonImg' onclick='replayPost2bImg()' />
 </div>
 <div id="checkWarningFlag" style="display:none;"><%=postImgWarningFlag%></postImgWarningFlag></div>
 <script type="text/javascript">
   var imgPreviewIndex=1;//图片预览逻辑使用，添加几个就自增几
    function addNewPreview(){
	  //添加新的图片预览
	   var newFormFile=$("<input type='file' onchange='picPre(this)'   class='handlePicPreview' name='"+"uploadedImg"+imgPreviewIndex+"'"+"id='"+"uploadedMyImg"+imgPreviewIndex+"'"+"/>");
	   $("#replyImgIndex").append(newFormFile);
	   imgPreviewIndex++;
	}
	
	
	
	//将input type="file"的图片预览在div中显示
        function picPre(o){
		 var picValue= $(o).val();
		 var previewImg=$("<img src='"+picValue+"'"+"/>");
		 $("#holdPicPreview").append(previewImg);
		}
	


    $(function(){
	    if($("#checkWarningFlag").text()==1){
		  $("#thisUploadPic").trigger("click");
		}
		var checkUser=getTargetCookie("username");
		if(checkUser){
		  $("#checkUserName").val(checkUser);
		}
		//给表单的一个隐藏域赋值,这个值是当前用户的用户名,这个值将被post给服务器用于提交图片的逻辑
	})
 </script>
</div>