.cp_preview{
	border:solid 1px red;
}
.identityCard{
	background-image:url('/images/default/icons/icons.png');
	background-position: -222px 0px;
	display:inline-block;
	width:20px;
	height:30px;
}
.main{
	overflow:hidden;
	margin-top: 100px;
}
.main_left{
	width:20%;
	float:left;

}
.main_right{
	width:80%;
	float:right;

}