<script src="/javascript/user/userDetail/userDetail.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />

<div ng-controller="userDetail">
	<div class="userProfile">

		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="..." alt="...">
					<div class="caption">
						<h3>Thumbnail label</h3>
						<p>...</p>
						<p><a href="#" class="btn btn-primary btn-sm noRound buttonWidth1" role="button">打招呼</a> <a href="#" class="btn btn-default btn-sm noRound buttonWidth1" role="button">关注</a> <a href="#" class="btn btn-default btn-sm noRound buttonWidth1" role="button">送礼物</a></p>
					</div>
				</div>
			</div>
		</div>


	</div>






<div id="myStoreData" style="display:none;"><%= storeData %></div>
</div>