<link rel='stylesheet' href='/stylesheets/home.css' />
<div class='main' ng-controller='userImage'>
	<div class='headerWrap'>
		<img src='/images/home/index_logo.png' class='logo' />
		<breadcrumb></breadcrumb>
		<div class='userstatusWrap'>
			<userstatus></userstatus>
		</div>
	</div>

	<div class='main_left'>
		<div class='main_leftWrap'>
			<div class='cpPreview login'>
					<cppreview></cppreview>
			</div>
			<div class='toolList'>
				<toolist></toolist>
			</div>
		</div>

	</div>

	<div class='main_right'>
		<div>
			<img class='img' src='{{img}}' ng-repeat='img in imgList' ng-click='selectImg($event);'/>
		</div>

		<button ng-click='setProfile()'>设为头像</button>


	</div>
</div>