<script src="/javascript/user/userDetail/userDetail.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/userDetail/userDetail.css' />



<breadcrumb></breadcrumb>

<div class='main centered' ng-controller="userDetail">


		<div class="userProfile">
			<div class="row" style='border:solid 1px green;'>

				<div class="col-md-4">
					<div class="thumbnail">
						<div class='imageShow'>
							<img src={{profile}} class='mainImg'>
						</div>

						<div class="imageSlides">
							<ul class='imageSlidesUl'>
								<li ng-repeat='img in avatars'><img src={{img}}/></li>
							</ul>
						</div>
					</div>
				</div>

				<div class='col-md-8'>
					<div class='falseNameWrap'>{{falseName}}</div>
					<div>
						<span>{{age}},</span>
						<span>{{marriageStatus}},</span>
						<span>来自{{address}}</span>
					</div>
					<table>
						<tr>
							<td>学历:{{education}}</td>
							<td>身高:{{height}}</td>
						</tr>
						<tr>
							<td>购车:{{ifHasCar}}</td>
							<td>月薪:{{monthincome}}</td>
						</tr>
												<tr>
							<td>住房:{{housingcondition}}</td>
							<td>体重:{{weight}}</td>
						</tr>
						<tr>
							<td>星座:{{sign}}</td>
							<td>民族:{{race}}</td>
						</tr>
						<tr>
							<td>属相:{{horoscope}}</td>
							<td>血型:{{bloodType}}</td>
						</tr>
					</table>

					<p>
						<a href="#" class="btn btn-primary btn-sm noRound buttonWidth1" role="button">发信</a>
						<a href="#" class="btn btn-default btn-sm noRound buttonWidth1" role="button">关注</a>
					</p>
				</div>

			</div>
		</div>

		<div class='selfInfo'>
			<h3>自我介绍<h3>
			<p>{{selfIntr}}<p>			
		</div>

		<div class='marriageRequirement'>
			<h3>择偶要求</h3>

			<p class='marriageRequirementNotFilled' ng-if='matchCondtionNotFilled'>
				{{matchCondtion}}
			</p>

			<table class='marriageRequirementFilled' ng-if='matchCondtionFilled'>
				<tr>
					<td><span>年龄:</span>{{matchCondtion.age}}</td>
					<td><span>身高:</span>{{matchCondtion.height}}</td>
				</tr>
				<tr>
					<td><span>民族:</span>{{matchCondtion.race}}</td>
					<td><span>学历:</span>{{matchCondtion.education}}</td>
				</tr>
				<tr>
					<td><span>相册:</span>{{matchCondtion.ifHasPic}}</td>
					<td><span>婚姻状况:</span>{{matchCondtion.marriageStatus}}</td>
				</tr>
				<tr>
					<td><span>居住地:</span>{{matchCondtion.area}}</td>
				</tr>
			</table>
		</div>

		<div class='lifeStyle'>
			<h3>生活方式</h3>
			<h5>习惯</h5>
			<table>
				<tr>
					<td><span>吸烟:</span>{{ifSmoking}}</td>
					<td><span>饮酒:</span>{{ifDrinking}}</td>
				</tr>
				<tr>
					<td><span>宗教信仰:</span>{{religion}}</td>
					<td><span>最大消费:</span>{{mainCosts}}</td>
				</tr>
				<tr>
					<td><span>喜爱的运动:</span>{{sportsloved}}</td>
					<td><span>喜爱的音乐:</span>{{musicloved}}</td>
				</tr>
				<tr>
					<td><span>喜爱的电影:</span>{{movieloved}}</td>
					<td><span>喜爱的约会方式:</span>{{mainDateType}}</td>
				</tr>

				<tr>
					<td><span>喜爱的食物:</span>{{foodloved}}</td>
					<td><span>喜爱的运动:</span>{{eventloved}}</td>
				</tr>
				<tr>
					<td><span>喜爱的宠物:</span>{{petloved}}</td>
					<td><span>喜爱的旅游地点:</span>{{locationloved}}</td>
				</tr>
			</table>
		</div>

		<div class='economicPower'>
			<h3>经济实力</h3>
			<table>
				<tr>
					<td><span>月薪:</span>{{monthincome}}</td>
					<td><span>购房:</span>{{housingcondition}}</td>
				</tr>
				<tr>
					<td><span>购车:</span>{{ifHasCar}}</td>
					<td><span>储蓄：{{saving}}</span>
				</tr>
			</table>
		</div>

		<div class='job'>
			<h3>工作</h3>
			<table>
				<tr>
					<td><span>公司类别:</span>{{companyinfo}}</td>
					<td><span>职业类别:</span>{{professionType}}</td>
				</tr>
				<tr>
					<td><span>职务:</span>{{duty}}</td>
					<td><span>职业描述：{{dutyOverview}}</span>
				</tr>
			</table>

		</div>







	<div id="myStoreData" style="display:none;"><%= storeData %></div>
	</div>

</div>