
<script src="/javascript/angularLibrary/angular-resource.js"></script>
<script src="/javascript/angularMain/main.js"></script>
<script src="/javascript/service/forgetPass.js"></script>
<script src="/javascript/controller/forgetPassController.js"></script>




<div>
<div id="forgetPass" ng-controller="myForgetPass">
  <span>邮箱用户找回密码</span><input type="text" ng-model="data.mail" />

  <button ng-click="getPassBackRequest();">提交</button>


</div>
</div>