*{
    padding:0;
    margin:0;
    font-family:宋体,​Arial,​sans-serif;
}

.birthplaceInfo{
    position:relative;
}
.provinceInfo{
    width:325px;
    height:270px;
    display:none;
    border:solid 1px red;
    position:absolute;
    left:0px;
    top:20px;
    background-color:gray;
}
.provinceInfo span{
    cursor:pointer;
}
.cityInfo{
    display:none;
    border:solid 1px red;
    position:absolute;
    border:solid 1px red;
    left:160px;
    top:20px;
    background-color:gray;
}
.cityInfo span{
    cursor:pointer;
}
.selected{
    background-color:red;
}
.notForSelect{
    cursor:auto!important;
    background-color:blue;
}
#hiddenForm{
display:none;
}

.errorsHolder{
	color:red;
}
.float-right{
    float:right;
}
.float-left{
     float:left;
}