*{
    padding:0;
    margin:0;
    font-family:宋体,​Arial,​sans-serif;
    font-size:12px;
}

body, button, input, select, textarea{
    font:12px/1.5 tahoma,arial,\5b8b\4f53;
}

input{
    padding:3px;
    border: 1px solid #666;
    -moz-border-radius: 2px;      /* Gecko browsers */
    -webkit-border-radius: 2px;   /* Webkit browsers */
    border-radius:2px;            /* W3C syntax */
}

.birthplaceInfo{
    position:relative;
}
.provinceInfo{
    width:325px;
    height:270px;
    display:none;
    border:solid 1px red;
    position:absolute;
    left:0px;
    top:20px;
    background-color:gray;
}
.provinceInfo span{
    cursor:pointer;
}
.cityInfo{
    display:none;
    border:solid 1px red;
    position:absolute;
    border:solid 1px red;
    left:160px;
    top:20px;
    background-color:gray;
}
.cityInfo span{
    cursor:pointer;
}
.selected{
    background-color:red;
}
.notForSelect{
    cursor:auto!important;
    background-color:blue;
}
#hiddenForm{
display:none;
}

.errorsHolder{
	color:red;
}
.float-right{
    float:right;
}
.float-left{
     float:left;
}
.alignedCenter{
    width:80%;
    margin:0 auto;
}
.noRound{
     border-radius: 0;
}
.buttonWidth1{
    width:60px;
}



.main{
    width:970px;
}
.subMain{
    width:790px;
}
.centered{
    margin:0 auto;

}
.radioLabel{
    float:left
}
.positionRelative{
    position:relative;
}
.positionAbsolute{
    position:absolute;
}
.positionFixed{
    position:fixed;
}
.zIndexMax{
    z-index:9999;
}
.roundBorder{
    border-radius:3px;
    border:1px solid #f59fb1;
    color:#d93c3c;
    padding-left:5px;
    padding-right:5px;
    height:30px;
    line-height:30px;
    position:relative;

}

.errorArrow{
    width:16px;
    height:30px;
    position:absolute;
    left:-10px;
    background-image:url('/images/default/icons/err.jpg');
    background-repeat:no-repeat;
    top:8px;
    left:-6px;

}

.main{
    overflow:hidden;
    margin:0 auto;
}
.main_left{
    width:20%;
    float:left;

}
.main_right{
    width:79%;
    float:right;

}
.error{
    color:red;
}
