<script src="/javascript/index/home.js"></script>
<link rel='stylesheet' href='/stylesheets/home.css' />



<div class='main' ng-controller='home'>

	<div class='headerWrap'>
		<img src='/images/home/index_logo.png' class='logo' />
		<breadcrumb></breadcrumb>
		<div class='userstatusWrap' ng-if='isLogin'>
			<userstatus></userstatus>
		</div>
	</div>

	<div class='main_left'>
		<div class='main_leftWrap'>
			<div class='cpPreview login'>
				<div ng-if='isLogin'>
					<cppreview></cppreview>
				</div>
				<div ng-if='!isLogin'>
					<register></register>
				</div>
			</div>

			<div class='toolList'>
				<toolist></toolist>
			</div>
		</div>

	</div>

	<div class='main_right'>
		<div class='banner'>
			亲，今天已有超过10万人通过每日姻缘找到对象！守株待“缘”，不如主动出击
		</div>

		<div class='search'>


		</div>
		<div class="col-sm-6 col-md-3" ng-repeat = "user in allUsers">
			<div class="thumbnail">
				<a href="/user/userDetails.ejs?check={{::user.account}}"><img src="{{::user.profile}}"></a>
				<div class="caption text-center">
					<h5>{{::user.falseName}}</h5>
					<p>{{::user.age}}</p>
					<p>{{::user.address}}</p>
					<p><a href="/user/userDetails.ejs?check={{::user.account}}" class="landing_check">去看看</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
