<script src="/javascript/cp/newMatchCondition.js"></script>

<script src="/javascript/directive/breadcrumb.js"></script>
<script src="/javascript/directive/cpPreview.js"></script>
<script src="/javascript/directive/mainSideMenu.js"></script>
<script src="/javascript/directive/registerAndLogin.js"></script>
<script src="/javascript/directive/userStatusBanner.js"></script>

<link rel='stylesheet' href='/stylesheets/cp/matchCondition.css'/>


<div class='main centered'  ng-controller='matchCondition'>

	<div class='userstatusWrap'>
		<userstatus></userstatus>
	</div>

	<div class='main_left'>
		<div class='cpPreview login'>
			<div style='border:solid 1px red;'>
				<cppreview></cppreview>
			</div>
		</div>

		<div class='toolList'>
			<toolist></toolist>
		</div>
	</div>

	<div class='main_right'>
		

	
		right
		
	
	</div>

</div>