<script src="/javascript/cp/newMatchCondition.js"></script>

<link rel='stylesheet' href='/stylesheets/cp/matchCondition.css'/>


<div class='main centered'  ng-controller='matchCondition'>

	<div class='userstatusWrap'>
		<userstatus></userstatus>
	</div>

	<div class='main_left'>
		<div class='cpPreview login'>
			<div>
				<cppreview></cppreview>
			</div>
		</div>

		<div class='toolList'>
			<toolist></toolist>
		</div>
	</div>

	<div class='main_right'>
		<div class="matchRequirement" id="matchRequirement">
			<span>您的择偶要求:</span>
			<ul id="matchDetail">
				<li><span>所在地区:<span><span id="matchArea">不限<span></li>
				<li><span>年龄范围:<span><span id="matchAge">不限<span></li>
				<li><span>婚史:<span><span id="matchMarriageStatus">不限<span></li>
				<li><span>身高范围:<span><span id="matchHeight">不限<span></li>
				<li><span>学历:<span><span id="matchEducation">不限<span></li>
				<li><span>民族:<span><span id="matchRace">不限<span></li>
				<li><span>诚信等级:<span><span id="matchProofRanking">不限<span></li>
				<li><span>有无照片:<span><span id="matchIfHasPic">不限<span></li>
			</ul>
		</div>

		<div class="setCondtion" id="setCondtion">
			<span>您的择偶要求:</span><br />
			<script src="/javascript/selectLocation.js"></script>
			<span>婚姻状况:</span><br />
			<input type="checkbox" name="marriageStatus" class="marriageStatus" value="未婚" /><span></span>未婚<br />
			<input type="checkbox" name="marriageStatus" class="marriageStatus" value="离异" /><span></span>离异<br />
			<input type="checkbox" name="marriageStatus" class="marriageStatus" value="丧偶" /><span></span>丧偶<br />
			<div class="height">
			<label for="height">身高:</label>
			<select id="height">
				<option>140</option>
				<option>141</option>
				<option>142</option>
				<option>143</option>
				<option>144</option>
				<option>145</option>
				<option>146</option>
				<option>147</option>
				<option>148</option>
				<option>149</option>
				<option>150</option>
				<option>151</option>
				<option>152</option>
				<option>153</option>
				<option>154</option>
				<option>155</option>
				<option>156</option>
				<option>157</option>
				<option>158</option>
				<option>159</option>
				<option>160</option>
				<option>161</option>
				<option>162</option>
				<option>163</option>
				<option>164</option>
				<option>165</option>
				<option>166</option>
				<option>167</option>
				<option>168</option>
				<option>169</option>
				<option>170</option>
				<option>171</option>
				<option>172</option>
				<option>173</option>
				<option>174</option>
				<option>175</option>
				<option>176</option>
				<option>177</option>
				<option>178</option>
				<option>179</option>
				<option>180</option>
				<option>181</option>
				<option>182</option>
				<option>183</option>
				<option>184</option>
				<option>185</option>
				<option>186</option>
				<option>187</option>
				<option>188</option>
				<option>189</option>
				<option>190</option>
				<option>191</option>
				<option>192</option>
				<option>193</option>
				<option>194</option>
				<option>195</option>
				<option>196</option>
				<option>197</option>
				<option>198</option>
				<option>199</option>
				<option>200</option>
			</select>-
			<select id="height2">
				<option>140</option>
				<option>141</option>
				<option>142</option>
				<option>143</option>
				<option>144</option>
				<option>145</option>
				<option>146</option>
				<option>147</option>
				<option>148</option>
				<option>149</option>
				<option>150</option>
				<option>151</option>
				<option>152</option>
				<option>153</option>
				<option>154</option>
				<option>155</option>
				<option>156</option>
				<option>157</option>
				<option>158</option>
				<option>159</option>
				<option>160</option>
				<option>161</option>
				<option>162</option>
				<option>163</option>
				<option>164</option>
				<option>165</option>
				<option>166</option>
				<option>167</option>
				<option>168</option>
				<option>169</option>
				<option>170</option>
				<option>171</option>
				<option>172</option>
				<option>173</option>
				<option>174</option>
				<option>175</option>
				<option>176</option>
				<option>177</option>
				<option>178</option>
				<option>179</option>
				<option>180</option>
				<option>181</option>
				<option>182</option>
				<option>183</option>
				<option>184</option>
				<option>185</option>
				<option>186</option>
				<option>187</option>
				<option>188</option>
				<option>189</option>
				<option>190</option>
				<option>191</option>
				<option>192</option>
				<option>193</option>
				<option>194</option>
				<option>195</option>
				<option>196</option>
				<option>197</option>
				<option>198</option>
				<option>199</option>
				<option>200</option>
			</select>米
		</div>

		<label>教育程度:</label>
		<select id="education">
			<option>不限</option>
			<option>小学及以上</option>
			<option>初中及以上</option>
			<option>高中及以上</option>
			<option>大专及以上</option>
			<option>本科及以上</option>
			<option>硕士及以上</option>
			<option>博士及以上</option>
		</select><br />


		<label>民族:</label>
		<select id="race">
			<option>不限</option>
			<option>汉族</option>
			<option>蒙古族</option>
			<option>回族</option>
			<option>藏族</option>
			<option>壮族</option>
			<option>布依族</option>
			<option>朝鲜族</option>
			<option>满族</option>
			<option>其他民族</option>
		</select><br />


		<label>有无照片:</label><br />
		<input type="radio" name="ifHasPic" class="ifHasPic" value="1" /><span>有照片</span><br />
		<input type="radio" checked="checked" name="ifHasPic" class="ifHasPic" value="0" /><span>不限</span><br />

		<label>诚信等级:</label><br />
		<input type="radio" name="proofRanking" class="proofRanking" value="1" /><span>星级会员</span><br />
		<input type="radio" checked="checked" name="proofRanking" class="proofRanking" value="0" /><span>不限</span><br />
		<br />

		<!--是否为强制条件，如果设成强制条件，不满足条件的用户之间无法交流-->
		<input type="radio" name="isCompulsive" class="isCompulsive" value="1" /><span>我要设定必须符合的择友条件</span><br />
		<input type="radio" checked="checked" name="isCompulsive" class="isCompulsive" value="0" /><span>以上条件仅供参考</span><br />


		<button id="saveCondtion" ng-click='saveMatchCondtion()'>保存</button>

		</div>

	</div>
</div>
