<title><%=title%></title>
<script src="/javascript/libraries.js"></script>

<script src="/javascript/backStageSupport/proofValidation.js"></script>

<div ng-controller='proofValidation'>
	<div class="wrap">
	</div>
</div>