<link rel='stylesheet' href='/stylesheets/edit/edit.css' />
<link rel='stylesheet' href='/stylesheets/home.css' />

<div class='main' ng-controller='editBasic'>
	<div class='headerWrap'>
		<img src='/images/home/index_logo.png' class='logo' />
		<breadcrumb></breadcrumb>
		<div class='userstatusWrap' ng-if='isLogin'>
			<userstatus></userstatus>
		</div>
	</div>

	<!--
	<div id='tabIndex'>
		<%- tabIndex %>
	</div>-->


	<div class='userstatusWrap'>
		<userstatus></userstatus>
	</div>

	<div class='main_left'>
		<div class='cpPreview login'>
			<div>
				<cppreview></cppreview>
			</div>
		
		</div>

		<div class='toolList'>
			<toolist></toolist>
		</div>
	</div>

	<div class='main_right'>
		<ul class='editList'>
			<li ng-click='showBasicTab()'><a href='#' class='editList_sub'>基本资料</a></li>
			<li ng-click='showCoreInfoTab()'><a href='#' class='editList_sub'>详细资料</a></li>
			<li ng-click='showMonologTab()'><a href='#' class='editList_sub'>内心独白</a></li>
			<li ng-click='showProfileTab()'><a href='#' class='editList_sub'>上传头像</a></li>
			<li ng-click='showAvatarsTab()'><a href='#' class='editList_sub'>我的相册</a></li>
			<li ng-click='showMatchCondtionTab()'><a href='#' class='editList_sub'>征友条件</a></li>
			<li ng-click='showProofsTab()'><a href='#' class='editList_sub'>诚信认证</a></li>
			<li ng-click='changePassTab()'><a href='#' class='editList_sub'>修改密码</a></li>
			<li><a href='#'></a></li>
		</ul>

		<div class='showBasic' ng-show='showBasic'>
			<div class="editBasic">
				<div id="editBasic">


					<div class='editBasicLeft'>
						<div class='editBasic_sub'>
							<label>昵称</label><input type="text" id="editFalseName"  name="editFalseName" ng-model="userAllData.falseName" />
						</div>

						<div class='editBasic_sub'>
							<label>手机</label><input type="text" id="editMobile"  name="editMobile" ng-model="userAllData.mobile" />
						</div>

						<div class='editBasic_sub'>
							<label>邮箱</label><input type="text" id="editMail"  name="editMail" ng-model="userAllData.email" />
						</div>
					</div>

					<div class='editBasicRight'>
						<div class='editBasic_sub'>
							<label>每月收入</label>
							<select name="editIncome" ng-model='userAllData.monthincome' id='selectMonthIncome'>
								<option>请选择</option>
								<option><2000</option>
								<option>2000-5000</option>
								<option>5000-10000</option>
								<option>10000-15000</option>
								<option>15000-20000</option>
								<option>20000-30000</option>
								<option>50000以上</option>
							</select>
						</div>

						<div class='editBasic_sub'>
							<label class='editBasic_sub_inHasChild'>有无孩子</label>
							<select name="editOffspring" id="editOffspring" ng-model='userAllData.ifhaschildren'>
								<option>请选择</option>
								<option>无小孩</option>
								<option>有小孩归自己</option>
								<option>有小孩归对方</option>
							</select>
						</div>

						<div class='editBasic_sub'>
							<label class='editBasic_sub_houseCondition'>住房条件</label>
							<select name="editHouse" ng-model='userAllData.housingcondition'  id='selectHouseCondition'>
								<option>请选择</option>
								<option>与父母同住</option>
								<option>租房</option>
								<option>已购房</option>
								<option>已购房有贷款</option>
								<option>住单位</option>
								<option>住亲朋家</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<input type="button" class='submitBasic' id='submitBasic' value="保存" ng-click='editBasic()' />
		</div>

		<div class='showCoreInfo' ng-show='showCoreInfo'>
			<div class='edit1'>
				<div class='edit1Left'>

				</div>

				<div class='edit1Rigth'>

				</div>



				<div>
					<label for='edit2'>体重</label>
					<select id="myS" name="weight" ng-model='userAllData.weight'>
						<option>请选择</option>
						<option>100</option>
						<option>110</option>
						<option>120</option>
						<option>130</option>
					</select>
					<span>公斤</span>
				</div>
				<div>
					<label for='edit4'>生肖</label>
					<select name="sign" ng-model='userAllData.horoscope'>
						<option>请选择</option>
						<option>鼠</option>
						<option>牛</option>
						<option>虎</option>
						<option>兔</option>
						<option>龙</option>
						<option>蛇</option>
						<option>马</option>
						<option>羊</option>
						<option>猴</option>
						<option>鸡</option>
						<option>狗</option>
						<option>猪</option>
					</select>
				</div>
				<div>
					<label for='edit5'>星座</label>
					<select name="horoscope" ng-model='userAllData.sign'>
						<option>请选择</option>
						<option>白羊座</option>
						<option>金牛座</option>
						<option>双子座</option>
						<option>巨蟹座</option>
						<option>狮子座</option>
						<option>处女座</option>
						<option>天枰座</option>
						<option>天蝎座</option>
						<option>射手座</option>
						<option>魔蝎座</option>
						<option>水瓶座</option>
						<option>双鱼座</option>
					</select>
				</div>
				<div>
					<label for='edit6'>血型</label>
					<select name="bloodType" ng-model='userAllData.bloodType'>
						<option>请选择</option>
						<option>A型</option>
						<option>B型</option>
						<option>AB型</option>
						<option>O型</option>
					</select>
				</div>
				<div>
					<label for='edit7'>民族</label>
					<select name="race" ng-model='userAllData.race'>
						<option>请选择</option>
						<option>汉族</option>
						<option>蒙古族</option>
						<option>回族</option>
						<option>藏族</option>
						<option>维吾尔族</option>
						<option>壮族</option>
						<option>布依族</option>
						<option>朝鲜族</option>
						<option>满族</option>
						<option>其他名族</option>
					</select>
				</div>
				<div>
					<label for='edit8'>宗教</label>
					<select name="religion" ng-model='userAllData.religion'>
						<option>请选择</option>
						<option>无</option>
						<option>佛教</option>
						<option>基督教</option>
						<option>天主教</option>
						<option>穆斯林</option>
					</select>
				</div>
				<div>
					<div>描述一下您的性格，开朗、文静、乐观、友善、理智？</div>
					<textarea class='describeCharacter' name="selfIntri" ng-model='userAllData.selfintri'></textarea>
				</div>
				<input type="button" class='submitBasic' value="保存"  ng-click='edit1()' />
				<input type="hidden" name="checkSubmit" />
			</div>
		</div>

		<div class='showMonolog' ng-show='showMonolog'>
			<div  class='edit2'>
				<div>
					<div>
						<label>是否吸烟</label>
						<select  id="edit2a" name="edit2a" ng-model='userAllData.ifSmoking'>
							<option>请选择</option>
							<option>不抽烟</option>
							<option>有时社交场合抽一点</option>
							<option>经常抽</option>
						</select>
					</div>
					<div>
						<label>是否喝酒</label>
						<select  id="edit2b" name="edit2b" ng-model='userAllData.ifDrinking'>
							<option>请选择</option>
							<option>不喝酒</option>
							<option>有时社交场合喝一点</option>
							<option>经常喝</option>
						</select>
					</div>
					<div>
						<label>是否购车</label>
						<select  id="edit2c" name="edit2c" class="checkEmpty" ng-model='userAllData.ifHasCar'>
							<option>请选择</option>
							<option>已购车</option>
							<option>未购车</option>
						</select>
					</div>
					<div>
						<label>厨艺</label>
						<select  id="edit2d" name="edit2d" class="checkEmpty" ng-model='userAllData.cooks'>
							<option>请选择</option>
							<option>色香味俱全</option>
							<option>能做几样可口的小菜</option>
							<option>有待提高</option>
						</select>
					</div>
					<div>
						<label>家务</label>
						<select  id="edit2e" name="edit2e" class="checkEmpty" ng-model='userAllData.houseKeeping'>
							<option>请选择</option>
							<option>愿意承担大部分家务</option>
							<option>希望对方承担大部分家务</option>
							<option>各自忙闲，协商分担家务</option>
						</select>
					</div>
					<div>
						<label>存款</label>
						<select  id="edit2f" name="edit2f" class="checkEmpty" ng-model='userAllData.saving'>
							<option>请选择</option>
							<option>3万以下</option>
							<option>3-10万</option>
							<option>10-50万</option>
							<option>50万以上</option>
							<option>保密</option>
						</select>
					</div>
					<div>
						<label>何时想结婚</label>
						<select  id="edit2g" name="edit2g" class="checkEmpty" ng-model='userAllData.whenToMarrige'>
							<option>请选择</option>
							<option>认同闪婚</option>
							<option>一年内</option>
							<option>二年内</option>
							<option>三年内</option>
							<option>时机成熟就结婚</option>
						</select>
					</div>
					<div>
						<label>是否想要孩子</label>
						<select  id="edit2h" name="edit2h" class="checkEmpty" ng-model='userAllData.whenHasChild'>
							<option>请选择</option>
							<option>想要孩子</option>
							<option>不想要孩子</option>
							<option>视情况而定</option>
						</select>
					</div>
					<div>
						<label>与对方父母同住</label>
						<select  id="edit2i" name="edit2i" class="checkEmpty" ng-model='userAllData.liveWithParents'>
							<option>请选择</option>
							<option>愿意</option>
							<option>不愿意</option>
							<option>视具体情况而定</option>
						</select>
					</div>
					<div>
						<label>较大的消费：</label>
						<span class='mainCostsList'><input type="checkbox" name="mainCost"  value="美食" /><span class='mainCosts'>美食</span></span>
						<span class='mainCostsList'><input type="checkbox" name="mainCost"  value="服饰" /><span class='mainCosts'>服饰</span></span>
						<span class='mainCostsList'><input type="checkbox" name="mainCost"  value="化妆" /><span class='mainCosts'>化妆</span></span>
						<span class='mainCostsList'><input type="checkbox" name="mainCost"  value="健身" /><span class='mainCosts'>健身</span></span>
						<span class='mainCostsList'><input type="checkbox" name="mainCost"  value="娱乐" /><span class='mainCosts'>娱乐</span></span>
						<span class='mainCostsList'><input type="checkbox" name="mainCost"  value="旅行" /><span class='mainCosts'>旅行</span></span>
						<span class='mainCostsList'><input type="checkbox" name="mainCost"  value="社交" /><span class='mainCosts'>社交</span></span>
						<span class='mainCostsList'><input type="checkbox" name="mainCost"  value="文化" /><span class='mainCosts'>文化</span></span>
						<span class='mainCostsList'><input type="checkbox" name="mainCost"  value="自我提升" /><span class='mainCosts'>自我提升</span></span>
						<span class='mainCostsList'><input type="checkbox" name="mainCost"  value="其他" /><span class='mainCosts'>其他</span></span>
					</div>
					<div>
						<label>喜欢怎样的约会：</label>
						<span class='mainHobbyList'><input type="checkbox" name="mainRecreation"  value="餐厅" /><span class='mainHobby'>餐厅</span></span>
						<span class='mainHobbyList'><input type="checkbox" name="mainRecreation"  value="茶楼" /><span class='mainHobby'>茶楼</span></span>
						<span class='mainHobbyList'><input type="checkbox" name="mainRecreation"  value="咖啡厅" /><span class='mainHobby'>咖啡厅</span></span>
						<span class='mainHobbyList'><input type="checkbox" name="mainRecreation"  value="酒吧" /><span class='mainHobby'>酒吧</span></span>
						<span class='mainHobbyList'><input type="checkbox" name="mainRecreation"  value="看电影" /><span class='mainHobby'>看电影</span></span>
						<span class='mainHobbyList'><input type="checkbox" name="mainRecreation"  value="看演出" /><span class='mainHobby'>看演出</span></span>
						<span class='mainHobbyList'><input type="checkbox" name="mainRecreation"  value="看展览" /><span class='mainHobby'>看展览</span></span>
						<span class='mainHobbyList'><input type="checkbox" name="mainRecreation"  value="逛街" /><span class='mainHobby'>逛街</span></span>
						<span class='mainHobbyList'><input type="checkbox" name="mainRecreation"  value="公园散步" /><span class='mainHobby'>公园散步</span></span>
						<span class='mainHobbyList'><input type="checkbox" name="mainRecreation"  value="郊游" /><span class='mainHobby'>郊游</span></span>
						<span class='mainHobbyList'><input type="checkbox" name="mainRecreation"  value="户外运动" /><span class='mainHobby'>户外运动</span></span>
						<span class='mainHobbyList'><input type="checkbox" name="mainRecreation"  value="其它" /><span class='mainHobby'>其它</span></span>
					</div>
					<input type="button" class='submitBasic' value="保存" ng-click='edit2()' /><br />
					<input type="hidden" name="checkSubmit" />
			</div>
			</div>
		</div>

		<div class='showProfile' ng-show='showProfile'>
			<div>
			      <div>
			            <label>喜欢的活动</label>
			            <div class='lovedPart'>
				            <input type="checkbox" name="sportsLoved1" value="电脑/网络" /><label>电脑/网络</label>
				            <input type="checkbox" name="sportsLoved1" value="电子游戏" /><label>电子游戏</label>
				            <input type="checkbox" name="sportsLoved1" value="与朋友喝酒" /><label>与朋友喝酒</label>
				            <input type="checkbox" name="sportsLoved1" value="品茗" /><label>品茗</label>
				            <input type="checkbox" name="sportsLoved1" value="看电影/电视" /><label>看电影/电视</label>
				            <input type="checkbox" name="sportsLoved1" value="听音乐" /><label>听音乐</label>
				            <input type="checkbox" name="sportsLoved1" value="乐器演奏" /><label>乐器演奏</label>
				            <input type="checkbox" name="sportsLoved1" value="烹调" /><label>烹调</label>
				            <input type="checkbox" name="sportsLoved1" value="摄影" /><label>摄影</label>
				            <input type="checkbox" name="sportsLoved1" value="下棋/打牌" /><label>下棋/打牌</label>
				            <input type="checkbox" name="sportsLoved1" value="观光旅游" /><label>观光旅游</label>
				            <input type="checkbox" name="sportsLoved1" value="逛街购物" /><label>逛街购物</label>
				            <input type="checkbox" name="sportsLoved1" value="阅读" /><label>阅读</label>
				            <input type="checkbox" name="sportsLoved1" value="写作" /><label>写作</label>
				            <input type="checkbox" name="sportsLoved1" value="舞会/卡拉OK" /><label>舞会/卡拉OK</label>
				            <input type="checkbox" name="sportsLoved1" value="各种收集活动" /><label>各种收集活动</label>
				            <input type="checkbox" name="sportsLoved1" value="理财/投资" /><label>理财/投资</label>
				            <input type="checkbox" name="sportsLoved1" value="文艺表演" /><label>文艺表演</label>
				            <input type="checkbox" name="sportsLoved1" value="聊天" /><label>聊天</label>
				            <input type="checkbox" name="sportsLoved1" value="家务/手工艺" /><label>家务/手工艺</label>
				            <input type="checkbox" name="sportsLoved1" value="书法/绘画" /><label>书法/绘画</label>
				            <input type="checkbox" name="sportsLoved1" value="其他" /><label>其他</label>
			            </div>
			      </div>
			      <div class='loved'>
			            <label>喜欢的体育活动</label>
			            <div>
				            <input type="checkbox" name="sportsLoved2" value="足球" /><label>足球</label>
				            <input type="checkbox" name="sportsLoved2" value="排球" /><label>排球</label>
				            <input type="checkbox" name="sportsLoved2" value="篮球" /><label>篮球</label>
				            <input type="checkbox" name="sportsLoved2" value="骑单车/摩托车" /><label>骑单车/摩托车</label>
				            <input type="checkbox" name="sportsLoved2" value="乒乓球" /><label>乒乓球</label>
				            <input type="checkbox" name="sportsLoved2" value="保龄球" /><label>保龄球</label>
				            <input type="checkbox" name="sportsLoved2" value="健身/跑步" /><label>健身/跑步</label>
				            <input type="checkbox" name="sportsLoved2" value="足球" /><label>钓鱼</label>
				            <input type="checkbox" name="sportsLoved2" value="游泳/冲浪/潜水" /><label>游泳/冲浪/潜水</label>
				            <input type="checkbox" name="sportsLoved2" value="网球" /><label>网球</label>
				            <input type="checkbox" name="sportsLoved2" value="羽毛球" /><label>羽毛球</label>
				            <input type="checkbox" name="sportsLoved2" value="高尔夫" /><label>高尔夫</label>
				            <input type="checkbox" name="sportsLoved2" value="滑冰/滑雪" /><label>滑冰/滑雪</label>
				            <input type="checkbox" name="sportsLoved2" value="其他" /><label>其他</label>
				            <input type="checkbox" name="sportsLoved2" value="舞会/卡拉O" /><label>舞会/卡拉OK</label>
			            </div>
			      </div>
			      <div class='loved'>
			            <label>喜欢的音乐</label>
			            <div>
				            <input  type="checkbox" name="musicLoved" value="中文流行音乐" /><label>中文流行音乐</label>
				            <input  type="checkbox" name="musicLoved" value="轻音乐" /><label>轻音乐</label>
				            <input  type="checkbox" name="musicLoved" value="民族音乐" /><label>民族音乐</label>
				            <input  type="checkbox" name="musicLoved" value="老歌" /><label>老歌</label>
				            <input  type="checkbox" name="musicLoved" value="舞曲" /><label>舞曲</label>
				            <input  type="checkbox" name="musicLoved" value="歌剧" /><label>歌剧</label>
				            <input  type="checkbox" name="musicLoved" value="西部乡村" /><label>西部乡村</label>
				            <input  type="checkbox" name="musicLoved" value="英文流行音乐" /><label>英文流行音乐</label>
				            <input  type="checkbox" name="musicLoved" value="交响乐" /><label>交响乐</label>
				            <input  type="checkbox" name="musicLoved" value="地方戏曲" /><label>地方戏曲</label>
				            <input  type="checkbox" name="musicLoved" value="摇滚" /><label>摇滚</label>
				            <input  type="checkbox" name="musicLoved" value="另类" /><label>另类</label>
				            <input  type="checkbox" name="musicLoved" value="灵歌" /><label>灵歌</label>
				            <input  type="checkbox" name="musicLoved" value="爵士/蓝调" /><label>爵士/蓝调</label>
				            <input  type="checkbox" name="musicLoved" value="其他" /><label>其他</label>
			            </div>
			      </div>
			      <div class='loved'>
			            <label>喜欢的电影</label>
			            <div>
				            <input  type="checkbox" name="movieLoved" value="故事片" /><label>故事片</label>
				            <input  type="checkbox" name="movieLoved" value="文艺爱情" /><label>文艺爱情</label>
				            <input  type="checkbox" name="movieLoved" value="科幻" /><label>科幻</label>
				            <input  type="checkbox" name="movieLoved" value="动作武侠" /><label>动作武侠</label>
				            <input  type="checkbox" name="movieLoved" value="侦探推理" /><label>侦探推理</label>
				            <input  type="checkbox" name="movieLoved" value="实验电影" /><label>实验电影</label>
				            <input  type="checkbox" name="movieLoved" value="老电影" /><label>老电影</label>
				            <input  type="checkbox" name="movieLoved" value="限制级电影" /><label>限制级电影</label>
				            <input  type="checkbox" name="movieLoved" value="儿童/卡通片" /><label>儿童/卡通片</label>
				            <input  type="checkbox" name="movieLoved" value="纪录片" /><label>纪录片</label>
				            <input  type="checkbox" name="movieLoved" value="西部电影" /><label>西部电影</label>
				            <input  type="checkbox" name="movieLoved" value="恐怖" /><label>恐怖</label>
				            <input  type="checkbox" name="movieLoved" value="得奖电影" /><label>得奖电影</label>
				            <input  type="checkbox" name="movieLoved" value="艺术电影" /><label>艺术电影</label>
				            <input  type="checkbox" name="movieLoved" value="音乐歌舞" /><label>音乐歌舞</label>
				            <input  type="checkbox" name="movieLoved" value="肥皂剧" /><label>肥皂剧</label>
				            <input  type="checkbox" name="movieLoved" value="喜剧" /><label>喜剧</label>
				            <input  type="checkbox" name="movieLoved" value="其他" /><label>其他</label>
				            <input  type="checkbox" name="movieLoved" value="什么都看" /><label>什么都看</label>
			            </div>
			      </div>
			      <div class='loved'>
			            <label>喜欢的食物</label>
			            <div>
				            <input  type="checkbox" name="foodLoved" value="川菜" /><label>川菜</label>
				            <input  type="checkbox" name="foodLoved" value="江浙菜" /><label>江浙菜</label>
				            <input  type="checkbox" name="foodLoved" value="湘菜" /><label>湘菜</label>
				            <input  type="checkbox" name="foodLoved" value="火锅" /><label>火锅</label>
				            <input  type="checkbox" name="foodLoved" value="烧烤" /><label>烧烤</label>
				            <input  type="checkbox" name="foodLoved" value="家常菜" /><label>家常菜</label>
				            <input  type="checkbox" name="foodLoved" value="路边摊" /><label>路边摊</label>
				            <input  type="checkbox" name="foodLoved" value="健康食品" /><label>健康食品</label>
				            <input  type="checkbox" name="foodLoved" value="零食" /><label>零食</label>
				            <input  type="checkbox" name="foodLoved" value="粤菜" /><label>粤菜</label>
				            <input  type="checkbox" name="foodLoved" value="北方菜" /><label>北方菜</label>
				            <input  type="checkbox" name="foodLoved" value="面食" /><label>面食</label>
				            <input  type="checkbox" name="foodLoved" value="素食" /><label>素食</label>
				            <input  type="checkbox" name="foodLoved" value="甜食" /><label>甜食</label>
				            <input  type="checkbox" name="foodLoved" value="自助餐" /><label>自助餐</label>
				            <input  type="checkbox" name="foodLoved" value="减肥餐"/><label>减肥餐</label>
				            <input  type="checkbox" name="foodLoved" value="能填饱肚子就好" /><label>能填饱肚子就好</label>
				            <input  type="checkbox" name="foodLoved" value="其他" /><label>其他</label>
			            </div>
			      </div>
			      <div class='loved'>
			            <label>喜欢的地方</label>
			            <div>
				            <input  type="checkbox" name="placeLoved" value="都市" /><label>都市</label>
				            <input  type="checkbox" name="placeLoved" value="村庄" /><label>村庄</label>
				            <input  type="checkbox" name="placeLoved" value="小镇" /><label>小镇</label>
				            <input  type="checkbox" name="placeLoved" value="山区" /><label>山区</label>
				            <input  type="checkbox" name="placeLoved" value="办公室/学校" /><label>办公室/学校</label>
				            <input  type="checkbox" name="placeLoved" value="游乐场" /><label>游乐场</label>
				            <input  type="checkbox" name="placeLoved" value="购物中心" /><label>购物中心</label>
				            <input  type="checkbox" name="placeLoved" value="我家/我的房间" /><label>我家/我的房间</label>
				            <input  type="checkbox" name="placeLoved" value="海滨" /><label>海滨</label>
				            <input  type="checkbox" name="placeLoved" value="岛屿" /><label>岛屿</label>
				            <input  type="checkbox" name="placeLoved" value="沙漠" /><label>沙漠</label>
				            <input  type="checkbox" name="placeLoved" value="雪野" /><label>雪野</label>
				            <input  type="checkbox" name="placeLoved" value="图书馆/书店" /><label>图书馆/书店</label>
				            <input  type="checkbox" name="placeLoved" value="展览馆" /><label>展览馆</label>
				            <input  type="checkbox" name="placeLoved" value="古迹" /><label>古迹</label>
				            <input  type="checkbox" name="placeLoved" value="森林" /><label>森林</label>
				            <input  type="checkbox" name="placeLoved" value="公园" /><label>公园</label>
				            <input  type="checkbox" name="placeLoved" value="咖啡厅/酒吧" /><label>咖啡厅/酒吧</label>
				            <input  type="checkbox" name="placeLoved" value="动物园" /><label>动物园</label>
				            <input  type="checkbox" name="placeLoved" value="夜市赶集" /><label>夜市赶集</label>
				            <input  type="checkbox" name="placeLoved" value="各种俱乐部" /><label>各种俱乐部</label>
				            <input  type="checkbox" name="placeLoved" value="其他" /><label>其他</label>
			            </div>
			      </div>
			      <div class='loved'>
			            <label>喜欢的宠物</label>
			            <div>
				            <input  type="checkbox" name="petLoved" value="狗" /><label>狗</label>
				            <input  type="checkbox" name="petLoved" value="猫" /><label>猫</label>
				            <input  type="checkbox" name="petLoved" value="鱼" /><label>鱼</label>
				            <input  type="checkbox" name="petLoved" value="兔" /><label>兔</label>
				            <input  type="checkbox" name="petLoved" value="鸟" /><label>鸟</label>
				            <input  type="checkbox" name="petLoved" value="乌龟" /><label>乌龟</label>
				            <input  type="checkbox" name="petLoved" value="蜥蜴" /><label>蜥蜴</label>
				            <input  type="checkbox" name="petLoved" value="鼠" /><label>鼠</label>
				            <input  type="checkbox" name="petLoved" value="蛇" /><label>蛇</label>
				            <input  type="checkbox" name="petLoved" value="另类宠物" /><label>另类宠物</label>
			            </div>
			      </div>

			      <input type="button" class='submitBasic' value="保存" ng-click='edit4()' />
			      <input type="hidden" name="checkSubmit" />
			</div>
		</div>

		<div class='showAvatars' ng-show='showAvatars'>
			<div class='edit5'>
			    <div>
			        <p>说说您的日常生活，喜欢干些什么，与对方分享</p>
			        <p>比如喜欢哪部电影，爱吃什么，去过哪些地方旅游等等</p>
			        <textarea name="edit5a" class='talkHobby' id="edit5a"  rows="10" cols="40" ng-model='userAllData.hobby'></textarea>
			        <div>限20-500字，目前已输入<span id="edit5cCounter1">0</span>字，您还可以输入<span id="edit5cCounter2">500</span>字</div>
			    </div>
			    <input type="button" class='submitBasic' value="保存" ng-click='edit5()' /><br />
			    <input type="hidden" name="checkSubmit" />
			</div>
		</div>

		<div class='showMatchCondtion' ng-show='showMatchCondtion'>
			<div class='edit6'>
			    <div class='parentstatus'>
			        <span>父母状况</span>
			        <select name="editStep6a" id="editStep6a" ng-model='userAllData.parentstatus'>
			            <option>请选择</option>
			            <option>父母均健在</option>
			            <option>只有父亲健在</option>
			            <option>只有母亲健在</option>
			            <option>父母均已离世</option>
			        </select>
			    </div>

			    <div class='siblingsstatus'>
			        <span>兄弟姐妹</span>
			        <select name="editStep6b" id="editStep6b" ng-model='userAllData.siblingsstatus'>
			            <option>请选择</option>
			            <option>独身子女</option>
			            <option>2</option>
			            <option>3</option>
			            <option>5</option>
			            <option>6</option>
			            <option>7</option>
			            <option>8</option>
			        </select>
			    </div>

			    <div class='ifLiveWithParents'> 
			        <span>婚后与父母住吗</span>
			        <select name="editStep6d" ng-model='userAllData.livewithparents2'>
			            <option>请选择</option>
			            <option>与自己父母同住</option>
			            <option>不与自己父母同住</option>
			            <option>尊重伴侣意见</option>
			            <option>视具体情况而定</option>
			        </select>
			    </div>

			    <div class='talkExpection'>
			        <p>说说您的家庭氛围、父母的职业及对您的期望</p>
			        <textarea name="editStep6e" id="edit5a"  class='ifWithParents'rows="10" cols="40" ng-model='userAllData.talkaboutfamily'></textarea>
			        <div>限20-500字，目前已输入<span id="edit5cCounter1">0</span>字，您还可以输入<span id="edit5cCounter2">500</span>字</div>
			    </div>

			    <input type="button" class='submitBasic' value="保存" ng-click='edit6()'>
			    <input type="hidden" name="checkSubmit" />
			</div>
		</div>

		<div class='showProofs' ng-show='showProofs'>
				<div class='imagePreview'>
					<img src='#' />
				</div>
				<form action="/edit/editAvatar" method="post" id="editPic" enctype="multipart/form-data">
			        <div id="submitPicWrap">
			            <p><label for="uploadPic">上传照片</label><input type="file" id="uploadPic" name="uploadPic" class="myUpLoadPic" /></p>
			            <input type="button" class='submitBasic' value="立刻上传" id="submitPic" ng-click='editAvatar()'/><br />
			        </div>
			     
			    </form>

		</div>
		 <%- editAvatarErroMsg %>

		<div class='changePass' ng-show='changePass'>
			<div class='edit3'>
				<div>
					<span>职业类别:</span>
					<select  class="checkEmpty" name="edit3a" id="edit3a" ng-model='userAllData.jobinfo1' ng-change='selectJobCategory()'>
						<option>请选择</option>
						<option>销售</option>
						<option>客户服务</option>
						<option>计算机/互联网</option>
						<option>通信/电子</option>
						<option>生产/制造</option>
						<option>物流/仓储</option>
						<option>商贸/采购</option>
						<option>人事/行政</option>
						<option>高级管理</option>
						<option>广告/市场</option>
						<option>传媒/艺术</option>
						<option>生物/制药</option>
						<option>医疗/护理</option>
						<option>金融/保险/银行</option>
						<option>建筑/房地产</option>
						<option>咨询/顾问</option>
						<option>法律</option>
						<option>财会/审计</option>
						<option>教育/科研</option>
						<option>服务业</option>
						<option>交通运输</option>
						<option>政府机构</option>
						<option>军人/警察</option>
						<option>农林牧渔</option>
						<option>自由职业</option>
						<option>在校学生</option>
						<option>待业</option>
						<option>其他职业</option>
					</select>
					<!--
					<select  class="checkEmpty" name="edit3aSub" id="edit3aSub">
					</select>-->
				</div>
				<div>
					<span>公司类别:</span>
					<select class="checkEmpty" name="edit3b" id="edit3b" ng-model='userAllData.companyinfo'> 
						<option>请选择</option>
						<option>政府机关</option>
						<option>事业单位</option>
						<option>外资企业</option>
						<option>合资企业</option>
						<option>国营企业</option>
						<option>私营企业</option>
						<option>自有公司</option>
						<option>其他</option>
					</select>
				</div>
				<div>
					<p>说说您的工作情况，描述越详细，越有助您找到合适的伴侣比如您的职位，工作感受，要不要经常出差，社交应酬多不多等等</p>
	
					<textarea name="edit3c" id="edit3c"  rows="10" cols="40" ng-model='userAllData.joboverview'></textarea>
					<div>限20-500字，目前已输入<span id="edit3cCounter1">0</span>字，您还可以输入<span id="edit3cCounter2">500</span>字</div>
				</div>

				<input type="button" class='submitBasic' value="保存" ng-click='edit3()' />
				<input type="hidden" name="checkSubmit" />
			</div>
		</div>



	</div>

</div>