<script src="/javascript/msg/inboxUnread.js"></script>

<div ng-controller='inboxUnread'>
	<ul>
		<li ng-repeat='asynMessage in asynMessages'>
			<span>发信人：</span><img src={{asynMessage.profile}} /><span>{{asynMessage.fromFalseName}}</span>
			<span style='margin-left:25px;'>内容:</span>
			<span>
				<a href='/msg/detail?tag={{asynMessage.msgTag}}&isnew={{asynMessage.isTheMsgNew}}&uid={{asynMessage.uid}}&cp_uid={{cp_uid}}'>{{asynMessage.data}}</a>
			</span>
			<span style='margin-left:25px;'>时间:</span><span>{{asynMessage.whenSent}}</span>
		</li>
	</ul>
</div>