<script src="/javascript/msg/inboxUnread.js"></script>


<div ng-controller='inboxUnread'>
	<ul>
		<li ng-repeat='asynMessage in asynMessages'>
			<span>发信人：</span>  <img src={{asynMessage.profile}} /> <span> {{asynMessage.fromFalseName}}</span>

			<span style='margin-left:25px;'>内容:</span><span>{{asynMessage.data}}</span>
			<span style='margin-left:25px;'>时间:</span><span>{{asynMessage.whenSent}}</span>
		</li>
	</ul>
</div>