<script src="/javascript/msg/msgDetail.js"></script>

<div ng-controller='msgDetail'>

	<div><span>信息:</span>{{msgData}} </div>
	<div>来自: <span id='falseNameWrap'>{{fromFalseName}}  </span> <img id='targetProfile' src={{profile}} /></div>
	<div><span>时间:</span>{{whenSent}}</div>


	<div class='replayArea'>
		<textarea id='replay' ng-model='replyMsg'></textarea>
		<button ng-click='replayDetail()'>回复</button>
	</div>

	<div id='storeMsgTag' class=''>{{msgTag}}</div>

	<div id='storeAll' class=''> <%-	 msgFound %> </div>
</div>

