<script src="/javascript/msg/msgDetail.js"></script>

<div ng-controller='msgDetail'>
	<div><span>信息:</span><%- msgFound %></div>
	<div><span>来自:</span><%- fromFalseName %>  <img src=<%- profile %> /></div>
	<div><span>时间:</span><%- whenSent %></div>
</div>