<script src="/javascript/msg/outbox.js"></script>

<div ng-controller='outbox'>
	
	<span ng-click='showAll()'>全部信息</span>
	<span ng-click='showReadedMsg()'>对方已读</span>    
	<span ng-click='showUnreadedMsg()'>对方未读</span>


	<ul ng-show='outboxAll'>
		<li ng-repeat='asynMessage in allSentMsg'>
			<span>收信人：</span>  <img src={{asynMessage.targetProfile}} /> <span> {{asynMessage.towhom}}</span>
			<span style='margin-left:25px;'>内容:</span><span><a href='/msg/outboxDetail?msgTag={{asynMessage.msgTag}}&toWhomAccount={{asynMessage.toWhomAccount}}'>{{asynMessage.sentmsg}}</a></span>
			<span style='margin-left:25px;'>时间:</span><span>{{asynMessage.time}}</span>
		</li>
	</ul>

	<ul ng-show='outboxReaded'>
		<li ng-repeat='asynMessage in sentMsgReaded'>
			<span>收信人：</span>  <img src={{asynMessage.targetProfile}} /> <span> {{asynMessage.towhom}}</span>
			<span style='margin-left:25px;'>内容:</span><span><a href='/msg/outboxDetail?msgTag={{asynMessage.msgTag}}&toWhomAccount={{asynMessage.toWhomAccount}}'>{{asynMessage.sentmsg}}</a></span>
			<span style='margin-left:25px;'>时间:</span><span>{{asynMessage.time}}</span>
		</li>
	</ul>

	<ul ng-show='outboxUnreaded'>
		<li ng-repeat='asynMessage in sentMagUnreaded'>
			<span>收信人：</span>  <img src={{asynMessage.targetProfile}} /> <span> {{asynMessage.towhom}}</span>
			<span style='margin-left:25px;'>内容:</span><span><a href='/msg/outboxDetail?msgTag={{asynMessage.msgTag}}&toWhomAccount={{asynMessage.toWhomAccount}}'>{{asynMessage.sentmsg}}</a></span>
			<span style='margin-left:25px;'>时间:</span><span>{{asynMessage.time}}</span>
		</li>
	</ul>

</div>


