<div class="modal container-fluid" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog" draggable-popup id="emailmodald">

    <div class="modal-content">
      <div class="modal-body" >
            <div>热门城市</div>
            <div class='sel-g'>
                <a href='#' onclick='pickCity(this)' data="01">北京</a>
                <a href='#' onclick='pickCity(this)' data="02" style='margin-left:3px;'>上海</a>
                <a href='#' onclick='pickCity(this)' data="03" style='margin-left:3px;'>重庆</a>
                <a href='#' onclick='pickCity(this)' data="04" style='margin-left:3px;'>天津</a>
                <a href='#' onclick='pickCity(this)' data="05" style='margin-left:3px;'>湖南</a>
                <a href='#' onclick='pickCity(this)' data="06" style='margin-left:3px;'>广东</a>
            </div>
            <div class='sel-g'>选择省份</div>
            <div class='sel-g'>
                <span>A-G</span>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>安徽</a>
                <a href='#' onclick='pickCity(this)' data="01" style='margin-left:3px;'>北京</a>
                <a href='#' onclick='pickCity(this)' data="03" style='margin-left:3px;'>重庆</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>福建</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>甘肃</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>广西</a>
                <a href='#' onclick='pickCity(this)' data="06" style='margin-left:3px;'>广东</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>贵州</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>澳门</a>
            </div>
            <div class='sel-g'>
                <span>H-J</span>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>海南</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>河南</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>河北</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>黑龙江</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>湖北</a>
                <a href='#' onclick='pickCity(this)' data="05" style='margin-left:3px;'>湖南</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>吉林</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>江西</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>江苏</a>
            </div>
            <div class='sel-g'>
                <span>L-S</span>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>辽宁</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>内蒙古</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>宁夏</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>青海</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>山西</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>山东</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>陕西</a>
                <a href='#' onclick='pickCity(this)' data="02" style='margin-left:3px;'>上海</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>四川</a>
            </div>
                <div class='sel-g'>
                <span>T-Z</span>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>台湾</a>
                <a href='#' onclick='pickCity(this)' data="04" style='margin-left:3px;'>天津</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>西藏</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>香港 </a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>新疆</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>云南</a>
                <a href='#' onclick='pickCity(this)' style='margin-left:3px;'>浙江</a>
            </div>
      </div>
    </div>

  </div>
</div>



