<div class="modal container-fluid" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog pickEducationPanel" draggable-popup id="emailmodald">
        <div class="modal-content modal-content-pickEducation">
            <div class="modal-body">
                <ul>
                   <li ng-repeat='education in educations' class='pickEducation-li'>{{education}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>