<div class="modal container-fluid" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog pickHeightPanel" draggable-popup id="emailmodald">
        <div class="modal-content pickHeightPanel_c">
            <div class="modal-body modal-body-pickheight">
                <ul>
                    <li ng-repeat='height in heights' class='pickheight-li'>{{height}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>



