<div class="modal container-fluid" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog" draggable-popup id="emailmodald">
    <div class="modal-content">
      <div class="modal-body" >
            <div class='fCity'>热门城市</div>
            <div class='sel-g'>
                <a href='#' onclick='pickCity(this)' data="01">北京</a>
                <a href='#' onclick='pickCity(this)' data="02" style='margin-left:3px;'>上海</a>
                <a href='#' onclick='pickCity(this)' data="03" style='margin-left:3px;'>重庆</a>
                <a href='#' onclick='pickCity(this)' data="04" style='margin-left:3px;'>天津</a>
                <a href='#' onclick='pickCity(this)' data="05" style='margin-left:3px;'>湖南</a>
                <a href='#' onclick='pickCity(this)' data="06" style='margin-left:3px;'>广东</a>
            </div>
            <div class='sel-g selProvince'>选择省份</div>
            <div class='sel-g sel-detail'>
                <span class='sel-info'>A-G</span>
                <a href='#' onclick='pickCity(this)' data="07" style='margin-left:3px;'>安徽</a>
                <a href='#' onclick='pickCity(this)' data="01" style='margin-left:3px;'>北京</a>
                <a href='#' onclick='pickCity(this)' data="03" style='margin-left:3px;'>重庆</a>
                <a href='#' onclick='pickCity(this)' data="08" style='margin-left:3px;'>福建</a>
                <a href='#' onclick='pickCity(this)' data="09" style='margin-left:3px;'>甘肃</a>
                <a href='#' onclick='pickCity(this)' data="10" style='margin-left:3px;'>广西</a>
                <a href='#' onclick='pickCity(this)' data="06" style='margin-left:3px;'>广东</a>
                <a href='#' onclick='pickCity(this)' data="11" style='margin-left:3px;'>贵州</a>
                <a href='#' onclick='pickCity(this)' data="12" style='margin-left:3px;'>澳门</a>
            </div>
            <div class='sel-g sel-detail'>
                <span class='sel-info'>H-J</span>
                <a href='#' onclick='pickCity(this)' data="13" style='margin-left:3px;'>海南</a>
                <a href='#' onclick='pickCity(this)' data="14" style='margin-left:3px;'>河南</a>
                <a href='#' onclick='pickCity(this)' data="15" style='margin-left:3px;'>河北</a>
                <a href='#' onclick='pickCity(this)' data="16" style='margin-left:3px;'>黑龙江</a>
                <a href='#' onclick='pickCity(this)' data="17" style='margin-left:3px;'>湖北</a>
                <a href='#' onclick='pickCity(this)' data="05" style='margin-left:3px;'>湖南</a>
                <a href='#' onclick='pickCity(this)' data="18" style='margin-left:3px;'>吉林</a>
                <a href='#' onclick='pickCity(this)' data="19" style='margin-left:3px;'>江西</a>
                <a href='#' onclick='pickCity(this)' data="20" style='margin-left:3px;'>江苏</a>
            </div>
            <div class='sel-g sel-detail'>
                <span class='sel-info'>L-S</span>
                <a href='#' onclick='pickCity(this)' data="21" style='margin-left:3px;'>辽宁</a>
                <a href='#' onclick='pickCity(this)' data="22" style='margin-left:3px;'>内蒙古</a>
                <a href='#' onclick='pickCity(this)' data="23" style='margin-left:3px;'>宁夏</a>
                <a href='#' onclick='pickCity(this)' data="24" style='margin-left:3px;'>青海</a>
                <a href='#' onclick='pickCity(this)' data="25" style='margin-left:3px;'>山西</a>
                <a href='#' onclick='pickCity(this)' data="26" style='margin-left:3px;'>山东</a>
                <a href='#' onclick='pickCity(this)' data="27" style='margin-left:3px;'>陕西</a>
                <a href='#' onclick='pickCity(this)' data="02" style='margin-left:3px;'>上海</a>
                <a href='#' onclick='pickCity(this)' data="28" style='margin-left:3px;'>四川</a>
            </div>
                <div class='sel-g sel-detail'>
                <span class='sel-info'>T-Z</span>
                <a href='#' onclick='pickCity(this)' data="29" style='margin-left:3px;'>台湾</a>
                <a href='#' onclick='pickCity(this)' data="04" style='margin-left:3px;'>天津</a>
                <a href='#' onclick='pickCity(this)' data="30" style='margin-left:3px;'>西藏</a>
                <a href='#' onclick='pickCity(this)' data="31" style='margin-left:3px;'>香港 </a>
                <a href='#' onclick='pickCity(this)' data="32" style='margin-left:3px;'>新疆</a>
                <a href='#' onclick='pickCity(this)' data="33" style='margin-left:3px;'>云南</a>
                <a href='#' onclick='pickCity(this)' data="34"style='margin-left:3px;'>浙江</a>
            </div>
      </div>
    </div>
  </div>
</div>



