


<div class="modal container-fluid" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog" draggable-popup id="emailmodald">

    <div class="modal-content">
      <div class="modal-body" >
            <div>热门城市</div>
            <div>
                <a href='#'>北京</a>
                <a href='#' style='margin-left:3px;'>上海</a>
                <a href='#' style='margin-left:3px;'>广州</a>
                <a href='#' style='margin-left:3px;'>天津</a>
                <a href='#' style='margin-left:3px;'>湖南</a>
            </div>
            <div>选择省份</div>
      </div>
    </div>

  </div>
</div>



