.selPanel{
	width:650px;
	top:0px;
	left:0px;
}
.sel-g{
	margin-top:10px;
}
.sel-detail a{
	text-decoration:underline;
	color:#666;
	padding:5px;
}
.sel-c a{
	text-decoration:underline;
	color:#666;
	padding:5px;
}
.sel-c{
	overflow:hidden;
}
.sel-c a{
	float:left;
	margin-left:3px;
	margin-top:7px;

}
.modal-content{
	top:18px;
	left:6px;
	z-index:9999;

}
.container-fluid{

}
.fCity{
	color:#b3b3b3;
}
.selProvince{
	color:#b3b3b3;
}
.sel-info{
	font-weight:800;
	color:#666;
}
.pickEducationPanel,.pickHeightPanel,.pickIncomePanel{
	width:278px;
}
.pickHeightPanel_c{

}
.modal-body li{
	list-style-type:none;
	color:#666;
}
.modal-body-pickheight{
	height:377px;
	overflow:auto;
}
.pickheight-li{
	line-height:30px;
	cursor:pointer;
	width:105%;
}

.pickEducation-li{
	line-height:30px;
	width:105%;
	color:#666;
	cursor:pointer;
}

.pickincome-li{
	line-height:30px;
	width:105%;
	color:#666;
	cursor:pointer;
}

.modal{
	position:static;
}
.selBirthdayWrap{
	overflow:hidden;
}
.selBirthdayWrap div{
	float:left;
}
#selYearP{
	position:relative;
}
#selYearPanel{
	position:relative;
}
#selMonthPanel{
	position:relative;
}
#selDayPanel{
	position:relative;
}

#selYearPanel,#selMonthPanel,#selDayPanel{
	display:inline-block;
}


.register_list{
	margin-top:20px;
	position:relative;

}

.register_list .error{
	position:absolute;
	bottom:0;
	right:90px;


}

.modal-content-income{
	/*
	left:-167px;
	top:108px;
	*/
}

.modal{
	position:relative;
}

.pickIncomePanel{
	left: -3px;
    top: -28px;
    float:left;
}
.pickEducationPanel{
	left: -3px;
    top: -28px;
    float:left;
}
.pickHeightPanel{
	left: -3px;
    top: -28px;
    float:left;
}
.pickProvincePanel{
	left: -3px;
    top: -28px;
    float:left;
}
.pickCityPanel{
	left: -3px;
    top: -28px;
    float:left;
}

.selYearPanel{
	left: -3px;
    top: -28px;
    float:left;
}
.selMonthPanel{
	left: 135px;
    top: -28px;
    float:left;
}
.selDayPanel{
	left: -3px;
    top: -28px;
    float:left;
}
.modal-body-selYear td{
	font:12px/1.5 tahoma,arial,\5b8b\4f53;
}

.modal-body-selYear td a{
	color:#666;
}

.eachMonth{
	font:12px/1.5 tahoma,arial,\5b8b\4f53;
	margin-left:10px;
	color:#666;
}
.eachDay{
	font:12px/1.5 tahoma,arial,\5b8b\4f53;
	margin-left:6px;
	color:#666;
}
.male{
	padding-left:21px;
	margin-left:5px;
	background-image:url('/images/default/icons/sex.jpg');
	background-repeat:no-repeat;
}
.female{
	padding-left:21px;
	margin-left:5px;
	background-image:url('/images/default/icons/sex.jpg');
	background-repeat:no-repeat;
	background-position:0 -33px;
}
.chooseFemale{
	margin-left:10px;
}

.register{
	margin:0 auto;
	display:block;
	margin-top:30px;
	width:300px;
}
.marriageStatus{
	margin-left:5px;
}
.chooseMarriage{
	position:relative;
	top:2px;
}

.left .leftLabel{
	float:right;
	position:relative;
	top:7px;
	z-index:9999;
}

.register_list .left{
	width:18%;
	display:inline-block;
	_zoom:1;
	padding-bottom:2px;
}

.register_list .right{
	width:71%;
	display:inline-block;
}










