.imageShow{
	height:300px;
	position:relative;
}
.imageSlidesUl{
	overflow: hidden;
}
.imageSlidesUl li{
	float:left;
}
.popOnlineTalk{
	cursor:pointer;

}
.onlineTalkPanel{
	position:absolute!important;
	top:50%;
	left:50%;
	margin-top:-300px;
	margin-left:-300px;
	
}

